[2018-07-20 03:05] uhlhosting opened #8 "Demo server not working"
Just installed the plugin in Mattermost 5.1.0 and it went all good. Just that the default server and API provided by it for test are not working.

Nor I have any buttons or options in mattermost for this bigbluebutton webrtc.

Does this conflict with existing webrtc servers?
http://test-install.blindsidenetworks.com/bigbluebutton/api
8cd8ef52e8e101574e400365b55e11a6
https://chat..../

[2018-08-13 19:25] jfederico commented on #8
@uhlhosting should we close this issue?

[2018-08-13 21:07] uhlhosting commented on #8
@jfederico yes, i have managed to have it work. thank you.

[2018-08-20 12:52] #8 closed

[2018-09-14 15:12] jasonblais opened #12 "Use ServiceSettings.SiteUrl setting in config.json for the callback URL"
To configure BigBlueButton, the Mattermost System Admin needs to enter the Mattermost Site URL. This is used for the callback URL to notify Mattermost when the meeting has ended.

![image](https://user-images.githubusercontent.com/13119842/45558771-b1fcfc80-b80e-11e8-81f8-7af24af8bc38.png)

Given the admin would have already configured their Site URL via ServiceSettings.SiteUrl setting in config.j

[2018-09-15 03:29] ffdixon commented on #12
@jasonblais Good suggestion.

[2018-09-15 15:00] jasonblais opened #13 "Add plugin to mattermost/mattermost-plugins repository"
Propose adding this plugin to https://github.com/mattermost/mattermost-plugins. This helps make the plugin more discoverable for community members who would like to test it out prior to shipping pre-packaged with Mattermost.

Notes on how to add the plugin can be found here https://github.com/mattermost/mattermost-plugins#add-your-plugin

[2018-09-17 18:34] ypgao1 commented on #12
Completed. For future developers, the way a plugin references the config.json file is through `p.API.GetConfig()`

ie, the SiteURL will be: `p.API.GetConfig().ServiceSettings.SiteURL`

Also, for the case when the admin has not configured the Site URL, we are preventing the creation of meetings and sending an ephemeral message "Please provide a 'Site URL' in Settings > General > Configuration". (An

[2018-09-20 12:16] jasonblais commented on #13
Thank you for the pull request! https://github.com/mattermost/mattermost-plugins/pull/12

[2018-09-20 12:16] #13 closed

[2018-09-24 11:30] jasonblais opened #16 "BigBlueButton doesn't start on Mattermost v5.4 (current master branch on Mattermost)"
Note: This is using plugin v2.0.0.

After configuring Mattermost as attached, starting a BigBlueButton meeting throws an error. This was working previously without issues on v5.3.

I have asked our plugin team if they have ideas on what might have caused the plugin to stop working after Mattermost v5.3.

**Settings**
![image](https://user-images.githubusercontent.com/13119842/45949760-0e100f80-bfc

[2018-09-24 11:35] jasonblais opened #17 "When Zoom and BigBlueButton (BBB) are both enabled, channel header dropdown for BBB appears in two lines"
![image](https://user-images.githubusercontent.com/13119842/45949671-a4900100-bfca-11e8-91c8-3308522521e0.png)

![image](https://user-images.githubusercontent.com/13119842/45949674-aa85e200-bfca-11e8-9107-89c70a88e579.png)

[2018-09-24 14:13] jasonblais commented on #16
After re-attempting I noticed a few more server log errors. Pasting them below:

[code]

[2018-10-02 20:40] jasonblais commented on #16
BigBlueButton v2.0.1 works well, closing this issue

[2018-10-02 20:40] #16 closed

[2018-10-02 20:40] jasonblais commented on #12
Covered by https://github.com/blindsidenetworks/mattermost-plugin-bigbluebutton/pull/14

[2018-10-02 20:40] #12 closed

[2018-10-04 20:07] EbsrVlee opened #18 "Unable to find recordings on mattermost bigbluebutton plugin"
Hello,

I have the big blue button plugin added to mattermost by following these instructions ( https://github.com/blindsidenetworks/mattermost-plugin-bigbluebutton )
However, when I record a session I cannot find it afterwards. (Recording without audio)
When I click on View Recordings it is empty.

Please advise.
Thank you.

[2018-10-04 23:54] ffdixon commented on #18
Are you using your own BigBlueButton server or test-install?

[2018-10-08 19:27] ffdixon commented on #18
Got it -- we'll take a closer look.

[2018-10-17 14:46] EbsrVlee commented on #18
Thank you. :)

[2018-11-02 14:34] rlKoekie opened #19 "Plugin fails after ending a meeting"
Hi,

I'm running my own mattermost server (https, with certificates), and my own bigbluebutton server (also https with certificates).
After configuring and enabling the mattermost bigbluebutton plugin I can create a meeting and join it, but as soon as I end the meeting, the plugin stops working.
The mattermost log shows the following:
{"level":"info","ts":1541168870.2771387,"caller":"go-plugin/str

[2018-11-05 07:59] rlKoekie commented on #19
I forgot to add some details:
Mattermost server version 5.4.0
BigBlueButton server version 2.0.0-13
Plugin version 2.0 (also tested 2.0.1)

bbb-conf --version output:
[code]

[2018-11-21 13:47] piotr-wegert opened #20 "Mattermost hangs entirely when BBB enabled and user enters his own (the "you") channel"
Hey folks,

We've been playing with MM and BBB (using your test server) and noticed that MM hangs entirely when BBB plugin is enabled and the user enters his own (the "you") channel. Until the plugin is disabled by the admin the user can't do anything in MM (there is only a white screen).

We've found the following error message that might have something to do with this problem.

![bbb_you_channel

[2018-11-22 00:02] ffdixon commented on #20
Got it -- we'll take a closer look.

[2018-11-24 19:48] nerboda opened #21 "Direct meeting invite modal 'Join Meeting' button doesn't open correct url"
When starting a meeting directly with another user, the 'Join Meeting' button in the modal doesn't open the correct meeting url. This is because, in [root.jsx](https://github.com/blindsidenetworks/mattermost-plugin-bigbluebutton/blob/master/webapp/components/root/root.jsx#L118), the `getJoinURL` method passes the wrong arguments to `actions.getJoinURL`. It looks like the `channelId` and `meetingId

[2018-11-24 20:57] nerboda opened #22 "Current master branch not starting on Mattermost v5.5"
The v2.0.1 release works, but when I build from the current master branch and install it on Mattermost v5.5, I get the following error when enabling the plugin.
[code]
I personally am not seeing anything helpful in that stacktrace. I've also looked through the 10 files that have changed in master since the release, but I'm not well versed in go so not seeing anything there either. Has anyone else

[2018-11-25 15:38] ffdixon commented on #21
We would welcome a pull request.

[2018-11-26 07:28] avasconcelos114 opened #23 "Plugin crashing Mattermost webapp"
Server Version: 5.5

It seems that sometimes the bigbluebutton plugin is crashing the Mattermost webapp (and Desktop app) with the following log:
[code]

There may be a need to check whether the plugin received data properly before trying to access objects' attributes

[2018-11-27 16:52] cbrand-ludlums opened #24 "Meeting abruptly ends when changing channels in mattermost"
Hi, I'm testing out the bigbluebutton plugin for mattermost teams server v5.5.  Using the current release plugin, v2.0.1. After starting a meeting, if that user switches to a different channel in mattermost, the meeting ends for everyone.  Is this intended or normal?  Also, I'm using the big blue button default test server and so far, I've not been able to view any saved recordings.

[2018-11-27 20:51] ffdixon commented on #24
Thanks for reporting this (it sounds like a bug).  We'll take a closer look.

That server gets a lot of use, so your recordings may take a few hours to process.  With the extra users coming in from MatterMost we're looking at upgrading the server.  Alternatively, if you have a spare server, you can setup your own BigBlueButton server (we have an install script that can install and configure the se

[2018-11-27 21:02] cbrand-ludlums commented on #24
Hi Fred,

We did some testing and so far, if anyone in the meeting switches to a different channel in mattermost, the meeting ends.  If you need any help troubleshooting this, I can help if needed.

On the test server issue, I was thinking that might be the case.  I can bring up a server to host the BigBlueButton server for testing.

[2018-11-28 17:21] EbsrVlee commented on #18
Hello,
Any news about this?

[2018-11-28 21:21] ypgao1 commented on #24
Hi, thanks for identifying the bug with meetings ending when channels switch. Issue seems to be fixed and will be updated in v2.0.2.

Recordings seems to be saved on other servers but not with test-install due to heavy traffic. This is currently being investigated but I recommend trying out the recording feature on your own server. Let us know how it goes!

[2018-11-28 22:44] ypgao1 commented on #20
Hi, thanks for the report. The issue has been fixed and will be updated in v2.0.2 soon!

[2018-11-28 23:34] ypgao1 commented on #21
Hi thanks for finding the issue. You're insights were correct and the issue has now been fixed. v2.0.2 should reflect this change.

[2018-11-30 01:39] nerboda commented on #21
@ypgao1 awesome! Closing this out.

[2018-11-30 01:39] #21 closed

[2018-11-30 22:56] cbrand-ludlums commented on #24
Hi, you've fixed the issue.  The meeting continue perfectly after changing channels in mattermost.  I'm in the process of setting up our own server to test with.  Thanks!

[2018-11-30 22:56] #24 closed

[2018-12-03 09:40] piotr-wegert commented on #20
Thanks guys for jumping into this!

[2018-12-21 13:57] tsaruks opened #26 "Missing video option when chat started"
Hi,
after installed BigBlueButton v.5.2 in any our laptops missing video button in the meeting screen.
However, sound work fine.
Please, help fix this issue.

Thanks,
Sergiy

[2018-12-22 03:06] JacerOmri commented on #23
this is fixed in the latest release https://github.com/blindsidenetworks/mattermost-plugin-bigbluebutton/releases/tag/v2.0.2

[2018-12-23 10:39] gdelachat opened #27 ""Join meeting" button doesn't start the meeting"
Hello,

I have installed a BBB server using bbb-install.sh script, everythings is ok on this side, I'm able to login ton greenlight and starting conference.

So I have installed 2.0.2 mattermost plugin from release package. On the plugin configuration, I have setup API URL & Secret, but when I try to join a meeting, I have a new tab opening in my browser with the URL "https://blindsidenetworks.com

[2018-12-25 19:03] ffdixon commented on #27
When you configure the Mattermost plugin, did you enter the URL in the form

[code]

[2018-12-26 01:05] avasconcelos114 commented on #23
Got it!

Closing issue then :)

[2018-12-26 01:05] #23 closed

[2018-12-26 08:30] gdelachat commented on #27
Hello,

Yes I did it

Regards,
Guillaume

[2018-12-27 15:22] suicidesky92 opened #28 "share the screen"
Is it possible to share the screen?

[2018-12-27 15:47] ffdixon commented on #28
Yes, we put together a video of how the interaction of BigBlueButton works with Matterhorn (including the desktop sharing), see

  https://www.youtube.com/watch?v=gg7J9B4wGa4

[2019-01-09 05:24] S1M0N opened #29 "Allow External URL option for generated meetings"
Hello,

Currently there appears to be no way to invite or allow an external user to join a meeting generated using this plugin in Mattermost. Would it be possible to add a functionality to support this? This would be useful in situations where an external user may be needed in a meeting (such as a business partner or external support member) but they don't have access to MM, or if they do, but don

[2019-01-09 12:54] #28 closed

[2019-01-14 20:18] xvilo opened #30 "Mattermost client crash with emoji username"
When a username in Mattermost has an emoji in it (yes this is possible), you can 'crash' the client.
Steps to reproduce:

1. Setup a username with emoji
2. Go to a user or channel
3. Start a BigBlueButton conference

Now both clients crash, if this is done the other way around e.g. TO someone this doesn't happen. Something is 'undefined' and in turn, breaks the react app.

I do not have any logs a

[2019-02-01 14:06] 0xSheff opened #31 "Screensharing plugin doesn't work"
Suggests to install an extension that is already installed in Chrome. Remove and install again doesn't solve the problem

[2019-02-01 14:24] ffdixon commented on #31
Which BigBlueButton server are you using to test (did you setup one yourself or are you using a 3rd party)?

[2019-02-08 18:52] jdanders opened #32 "Using the `/bbb` command doesn't create meeting"
Maybe related to issue #27.

I am running Mattermost 5.6.2 (bundled with gitlab) and recently did a clean install of BBB. I am able to create and join meeting by hand using the api. When I do `/bbb ` in a chat channel and then click on "Join Meeting" I get:
`Error: The meeting ID that you supplied did not match any existing meetings` on the default splash screen of BBB.

In watching the `nginx` lo

[2019-02-11 09:30] 0xSheff commented on #31
I have installed my own server (Team edition) and registered the domain in the extension manifest (installed unpacked ext to the chrome).. but screensharing doesn't work

[2019-02-18 20:36] Bortseb commented on #18
I am having the same issue, but with my own bbb server.

This is all I see after a meeting with a recording is ended:
![image](https://user-images.githubusercontent.com/1617130/52975297-fb8bdd80-3392-11e9-835b-7c3e6569a25f.png)

I just set this all up today.

[2019-02-19 04:47] wmysummer opened #33 "Can't join the meeting in the mattermost Mobile app"
When creating bigbulebutton conference in mattermost，Mobile app could not join the meeting，No button to join the meeting is displayed。Display a string of characters，for example：#BigBuleButton #Off-Topic #ID1HNm6cw7FNLeAyTJeiee

[2019-02-19 21:07] Bortseb commented on #18
Hmmm, seems they did eventually appear, it just took a long while.

[2019-02-19 22:06] ffdixon commented on #33
Can you post a screen shot.  We've not looked closely (yet!) into integrating with the Mattermost Mobile app.

[2019-02-20 00:33] lsl061085 commented on #33
@ffdixon ![Image of mattermost](https://raw.githubusercontent.com/lsl061085/image/master/mattermost.png?token=AbnYmdFtkj7uGCNIdWqPzQzYqUBYYlAsks5cbJ9MwA%3D%3D)
  thanks！

[2019-02-20 00:37] ffdixon commented on #33
Hmm ... the image did not come through.  Can you cut-and-paste it into this issue.

[2019-02-20 00:42] lsl061085 commented on #33
![mattermost](https://user-images.githubusercontent.com/28956825/53057667-4a4c8b00-34eb-11e9-9790-3b1bc514d876.png)
Sorry！

[2019-02-20 17:47] barto95100 opened #34 "Pb url generate on meetings mattermost"
I install the plugin but when I click on :" joint Meeting"

I'm redirect to : https://blindsidenetworks.com/

in console seeting the configuration is great with my Secret and url with /bigbluebutton/api

Do you have a idea what's the problem ?

Thank's

[2019-02-25 19:38] jasonblais commented on #33
Hey @lsl061085! Thanks for trying out the bigbluebutton plugin.

Currently there is limited support for plugins on mobile. Our team at Mattermost is planning to enhance the capabilities and achieve feature parity between desktop/browser and mobile in the coming months.

[2019-02-25 22:37] ffdixon commented on #31
We'll have a release for BigBlueButton 2.2-beta shortly which, thanks to Chrome 72, will not require a Chrome Extension anymore.

Look for the announcement to the bigbluebutton-dev mailing list (see https://bigbluebutton.org/support).

[2019-03-01 12:42] sydneysider opened #35 "Receive HTLML5CLIENT/joing failed (no such directory)"
I was able to install this beautifully using BBB's instructions on ubuntu 16.04, Mattermost 5.7, and got the BBB MM plugin installed fine.

The demo worked fine on MM, so I removed the default from my 'sites-enabled' on my BBB server and I keep getting Nginx 404 errors, see error below. This is on an AWS instance, the only complaints I get are about my local IP as opposed to my public ip which is

[2019-03-01 12:55] sydneysider commented on #35
When I place the directory /html5client/join, I receive the error - I must be missing something obvious, but not sure. Thanks.

[error] 4036#4036: *9 directory index of "/var/www/bigbluebutton/html5client/join/" is forbidden, client: xxx.xxx.xxx.xxx, server: bigbluebutton.xxxxxxxxxx.com, request: "GET /html5client/join/?sessionToken=sropvcl3nvxya3dq HTTP/1.1", host: "bigbluebutton.xxxxxxxxxx.com"

[2019-03-01 13:02] ffdixon commented on #35
Did you install the HTML5 client on your BigBlueButton server?

To easily setup a BigBlueButton server with HTML5 + SSL (or to upgrade an existing BigBlueButton 2.0 server to have HTML5), check out https://github.com/bigbluebutton/bbb-install

[2019-03-01 21:08] sydneysider commented on #35
I ran the bbb-install.sh — isn’t the html5 installer in that script, I see the line there for it. Also, shouldn’t it fail over to the flash version if html5 isn’t present? This part has me a bit confused, especially because in the properties config it’s set to ‘false’ to force clients to html.

[2019-03-01 22:36] ffdixon commented on #35
If you want to make the HTML5 client default and not use Flash, you need to make two additional edits, see http://docs.bigbluebutton.org/html/html5-install.html#making-the-html5-client-default.

[2019-03-01 22:53] sydneysider commented on #35
Hi, that’s not what I’m trying to do - and J tried that change already anyway and still received the same error.

I’m just trying to make the product work flash or html5  - doesn’t matter. I ran the install.sh script - the demos worked fine. I installed the mattermost plugin. But it always ends up with the “html5/join” nginx error. Not sure what I’m missing here, if the script is meant to install

[2019-03-02 11:52] sydneysider commented on #35
Hi Fred,

This can be resolved, I started a new instance and ran the install with a -t, and now it works fine. I'm now running into other (known issues) with error 1007. I'll start a new post about this, as this one can be resolved. Cheers.

[2019-03-02 11:59] sydneysider opened #36 "Receive error 1007 intermittently - 'ICE Negotiation Failed'"
There seems to be a lot of back and forth about how to successfully run BBB on an AWS instance with a private IP and public IP trying to interrelate with a huge emphasis on the firewall. But since AWS is easy to open up all traffic we can avoid that argument - all traffic is allowed in and out for this test.

On BBB's test demo, yes, on both test laptops, I can get my microphone to be heard fine.

[2019-03-02 21:47] ffdixon commented on #35
Thanks for letting us know.

[2019-03-02 21:47] #35 closed

[2019-03-03 00:46] ffdixon commented on #36
Hi,

Can you try installing on AWS with bbb-install.sh

  https://github.com/bigbluebutton/bbb-install

It will detect your server is AWS and, if you have assigned a hostname to the public IP address of the server, then you can use `bbb-install.sh` to automate installation of BigBlueButton + HTML5 + SSL.

Try the above and let us know if you still get the same issue when connecting from laptops.

[2019-03-03 01:07] sydneysider commented on #36
Hi Fred,

I’ve done this already: bbb-install.sh + lets encrypt + html5.

The MM plugin works the way it should. It seems that the ICE negotiation intermittently fails - unsure of the pattern of failure yet, i’ve only tested with 3 laptops and two of them worked.

As for the test.bigbluebutton.org - all three laptops worked. And we know my AWS instances firewall rules are fully open to all traffic

[2019-03-03 02:12] ffdixon commented on #36
We have a TURN server also setup on https://test.bigbluebutton.org/.  You can use `bbb-install.sh` to setup a TURN server on a second AWS server and configure your BigBlueButton server to use it.  See

   https://github.com/bigbluebutton/bbb-install#install-a-turn-server

If you can try that, we'd be interested to hear if all three laptops now work with your BigBlueButton server.

[2019-03-03 08:10] sydneysider commented on #33
Yea receiving same issue - would be awesome to get this on mobile. I know my company will expect this if/when we cut over to BBB.

Unfortunately this link: https://mattermost.com/blog/bigbluebutton-integration/

"Blindside Networks recommends using Firefox and Chrome for the best experience. For mobile users, the company recommends Android 6.0+ and iOS 11+."

Guessing this is in reference to your

[2019-03-03 13:17] ffdixon commented on #33
We're actually getting close to a beta release for BigBlueButton 2.2, which will be a pure HTML5 client (no plugins, no app to install) that you can run on your mobile device.  If you have a Android 6.0+ and iOS 11+ phone/table, go to https://test.bigbluebutton.org/, give it a try, and let us know what you think.

[2019-03-11 17:17] twelch555 commented on #31
I spent a couple of hours chasing this issue a couple of weeks back. Make sure you shut down chrome and restart after installing the extension. (I think this was the solution to my issue, although I also tried disabling all extensions and disabling privacy badger which I also run.)

I'm going to guess that you are Mac-based, this seemed to be the platform we were having the issue on. Ironically, t

[2019-03-11 18:16] ffdixon commented on #31
We release BigBlueButton 2.2-beta that features a much more capable HTML5 client.  See

 https://groups.google.com/d/msg/bigbluebutton-dev/34SphncjKEw/KJZsbQbEAQAJ

We recommend tryout this version as the HTML5 client no longer needs a chrome extension if your are running Chrome 72 (or later), which was released on Jan 29 and most people are probably running.

You can try it out on our test server

[2019-03-19 10:31] 0xSheff commented on #31
Thank you for your replies!
No, we tested it on a different platforms, Mac and Windows 10, and had these issues. I will try to use 2.2-beta, will see how it work

[2019-03-28 13:16] ppi1302 commented on #32
Hello,
any news on that as I have the same problem with the latest 2.0.2 Mattermost  plugin and BBB 2.0 RC11
Many thanks in advance

[2019-04-02 23:29] jasonblais commented on #27
Hey @gdelachat - did you try if it works with the default options provided in the System Console > Plugins > BigBlueButton settings page?

This helps us narrow down the potential problem.

[2019-04-03 06:44] gdelachat commented on #27
Hello,

@jasonblais, like i said on the 1st thread, if I use default settings, it works, meeting is opening on the test instance (from blindsidenetworkds).

Regards,
Guillaume

[2019-04-03 06:47] gdelachat commented on #34
Same issue as #27

[2019-04-03 11:46] jasonblais commented on #27
Thanks @gdelachat! Wasn't sure if the test-install parameter were referring to that.

@ffdixon Wondering if you'd know potential causes of the error reported above?

[code]

[2019-04-19 11:55] viktorjamrich commented on #19
Have exactly the same issue...

@rlKoekie have you managed to resolve this?

Thanks a lot mate ;)

[2019-04-19 11:58] rlKoekie commented on #19
Unfortunately not, I switched to use jitsi instead. This of course has a lot less features, but the video calls work well.

[2019-04-19 12:37] ffdixon commented on #19
Hi @viktorjamrich or @rlKoekie, we're looking for some help from a developer in the Mattermost community to resolve this issue.  Do either of you have experience with developing Mattermost plugins?

[2019-04-19 12:43] rlKoekie commented on #19
Nope, sorry.
 I did look into the source code a little bit to see if I could figure the problem. The conclusion was that it takes more than 15 minutes to properly understand what is going on :-)

[2019-04-19 12:49] ffdixon commented on #19
Well, yes that's true :-).

Still, thanks for checking out BigBlueButton.  Our engineering focus has been recently on BigBlueButton HTML5.   We're not sure why the plugin stopped working (it looked good when we first released it).  We'll keep working with the Mattermost community to resolve the issue.

[2019-05-23 15:43] eyebank commented on #27
Dear All:
I am having the same exact issue.
Joining a meeting in Mattermost displays the same message as above:

"This XML file does not appear to have any style information associated with it. The document tree is shown below.
<response>
<returncode>SUCCESS</returncode>
<version>2.0</version>
</response>"

I did notice in the following video: https://www.youtube.com/watch?v=gg7J9B4wGa4

The url i

[2019-05-23 19:12] ffdixon commented on #27
It might be an update that occurred in mattermost as this was working before (when we took the video).

@eyebank  How fluent are you in development of mattermost plugins (or do you know anyone who could potentially help out)?

[2019-05-24 01:30] kgreav opened #38 "Release is based off wrong commit"
The latest release 2.0.2 (https://github.com/blindsidenetworks/mattermost-plugin-bigbluebutton/releases/tag/v2.0.2) is based off commit 38513f7c533bdf75a53db07c477a585a529af69f - this is before https://github.com/blindsidenetworks/mattermost-plugin-bigbluebutton/issues/24 in which  it was noted it would be included in 2.0.2.

Currently you have to build mattermost yourself to get this and a few ot

[2019-05-30 05:03] jsalatiel commented on #33
@ffdixon, The html5 works just fine on mobile, but the problem mentioned in this **issue** is that if you create the bbb conference inside the mattermost desktop app, those using the mobile version will only see:
![image](https://user-images.githubusercontent.com/5522389/58609611-875cb200-827e-11e9-9439-d0308034e91a.png)
and thus wont be able to join, regardless  HTML5 client support.
The bbb plug

[2019-05-30 05:07] jsalatiel opened #39 "Limit the number of concurrent conferences globally"
Would it be possible to add an option to limit the maximum number of concurrent conferences using the bbb plugin in a way that if some user try to create a new conference and the limit is already reached, the new conference will be denied until some conference "slot" are freed?

[2019-05-30 17:48] ffdixon commented on #39
Hmmm ... one possibility is that the MatterMost integration makes a `create` call to create a meeting.  Before making that call, it could do a `getMeetings` API call to get a list of all meetings on the server and, if the number of meetings or numbers of users is above a given threshold, to notify the user to try again later.

Are you hitting any limit today on your BigBlueButton server?

[2019-05-30 18:13] jsalatiel commented on #39
That solution would be great!
My server/bandwidth can hold about 60 concurrent connections, after that I start to have problems. So, being able to limit to 50 would help a lot.

[2019-05-30 20:23] jsalatiel commented on #33
@ffdixon I just found out that i can actually "start" a conference from the mobile app by typing /bbb , i just can not join. So I think half of the problem is actually implemented, because no changes are needed in the mattermost android app itself. We only need that the mattermost plugin also output some url that we can click to be directed to the conference using chrome for example. My server alr

[2019-05-30 20:29] jsalatiel opened #40 "Allow different bigbluebutton servers based on team name"
A good feature would be if we could set a different bbb server for each team we have. For example, let's say I have team01, team02 and team03.
In the bbb plugin, one could configure the bbb url to https://bbb-{team_name}.mydomain.com and it would be expanded on runtime. We could keep the same secret for all servers to keep it simple. This would allow some scale out if you have lots of mattermost t

[2019-05-30 22:32] ffdixon commented on #40
It's a good suggestion, but there are some tricky bits.  The plugin would need to remember which server a session had started on so it could direct subsequent users to the same server and to later on retrieve the recordings from that server.

A better approach (that wouldn't over complicate the MatterMost integration) would be to have an intermediate load balancer that would understand the BigBlue

[2019-05-30 22:34] ffdixon commented on #33
Interesting!  Are you working with MatterMost on any current projects?  It should be possible to extend the MatterMost plugin to work with the android app, we would just need a bit of help on this one.

[2019-05-30 22:44] ffdixon commented on #39
We'll leave this as an open enhancement issue -- not promises on the timeline.  For now, the best solution would be to increase your server/bandwidth (if possible).

[2019-05-30 22:50] jsalatiel commented on #33
No, I am not a developer, I  am just a user of mattermost, bbb and mattermost-plugin-bigbluebutton.
Those tools are just great together, but I really miss the option to have a conference from my phone. I do not understand very well how this plugin works, but I supposed that '#ID1Ly4WTs..." that the plugin outputs on the android app is the ID of the conference it created on the server right? So, if

[2019-05-30 22:51] jsalatiel commented on #39
No problem :) Thanks!

[2019-06-04 11:28] iandriyanov commented on #33
The same on mobile app (Mattermost server 5+, bbb 2.0, mattermost android app 1.19.0 build 193)

![123](https://user-images.githubusercontent.com/1125505/58875706-f0a45100-86d4-11e9-9430-c90a4ba56efc.jpg)

[2019-06-04 11:55] jasonblais commented on #33
Hey all! Currently there is limited support for plugins on mobile. Our team at Mattermost is planning to enhance the capabilities and achieve feature parity between desktop/browser and mobile in the coming months.

If anyone is interested and open to help extend support for plugins on mobile, come join us in the [public Mattermost Extensions channel](https://community.mattermost.com/core/channels/

[2019-06-13 06:28] cseeger-epages commented on #27
any hint here we have the same problem on our mattermost/bbb instance

[2019-06-13 08:06] cseeger-epages commented on #27
we did test some stuff and recognized that using chrome 75.0.3770.80 everything works as intended on our live and test system.

But when using other clients like Rambox/Wavebox we only get the redirect link hardcorded in https://github.com/blindsidenetworks/mattermost-plugin-bigbluebutton/blob/93b897ab2bf5233ed5809da58ee211aad946712a/webapp/components/root/root.jsx#L117 used for generating the /pl

[2019-06-19 08:32] piotr-wegert opened #45 "BBB plugin not cooperating with user preview"
Hello team,

I've found two instances where the BBB plugin causes problems when trying to preview a MM user details. It's happening in 5.12 and most likely didn't occur in earlier version as someone would have caught it. When I disable the plugin both issues disappear.

Ok, here are the details:

1) When clicking @username in any channel the whole Mattermost freezes with a white screen.

![image](

[2019-06-19 11:07] ffdixon commented on #45
Thanks for sharing this -- we'll update this issue when we have more details on what's causing it.

[2019-06-25 12:07] janzhanal commented on #40
On the other hand assigning bbb server based on team migh come handy if you have more servers distributed over world and one central mattermost server... For examlpe I would appreciate original idea more.

[2019-07-19 12:59] jimscarver commented on #45
Is there any update on this or do we still need to disable BBB in MM?

[2019-08-02 23:50] harshilsharma63 commented on #45
@piotr-wegert I'm working on resolving this.

[2019-08-07 00:48] harshilsharma63 commented on #45
@jimscarver @piotr-wegert The fix for this has been released as v2.0.3, available over [here](https://github.com/blindsidenetworks/mattermost-plugin-bigbluebutton/releases/tag/v2.0.3). I request you to try it out.

[2019-08-07 01:27] #45 closed

[2019-08-07 23:30] harshilsharma63 opened #47 "Update plugin dependencies"

[2019-08-10 04:39] harshilsharma63 commented on #32
Hi @jdanders , @ppi1302 do you still face this issue in a more recent version of Mattermost? I just tried on Mattermost v5.13.2 and it worked fine.

Could you please try upgrading your Mattermost instances?

[2019-08-10 04:55] harshilsharma63 commented on #30
@xvilo I tried creating a user with emojies in username but Mattermost doesn't allow them as fasr as I can see. I even checked the Mattermost source code to see what validations does it apply it indeed doesn't allow emojies in username. maybe it did in a version when you reported the bug.

I even tried this with havig emojies in first name, last name, nickname and even position but the plugin work

[2019-08-10 15:01] xvilo commented on #30
I'm sorry, I meant the nickname field. Just added it to our MM client and it worked. However, as far as I can see for now it just works..

[2019-08-10 15:28] harshilsharma63 commented on #30
@xvilo that's great! Thanks for confirming. Closing the issue now.

[2019-08-10 15:28] #30 closed

[2019-08-10 15:41] #47 closed

[2019-08-12 01:24] harshilsharma63 commented on #38
@kgreav we've released [v2.0.3](https://github.com/blindsidenetworks/mattermost-plugin-bigbluebutton/releases/tag/v2.0.3) which includes the commit you mentioned above. We suggest you use this release as it includes an extra bug fix as well.

[2019-08-12 01:24] #38 closed

[2019-08-12 11:15] piotr-wegert commented on #45
@harshilsharma63 works like a charm. Looks like the bug is fixed now, thanks!

[2019-08-13 00:49] harshilsharma63 commented on #34
@barto95100 do you still face this issue? I'm able to successfully navigate to meeting from Mattermost.

[2019-08-14 00:02] harshilsharma63 commented on #32
@jdanders @ppi1302 I'm closing this issue as the bug is not reproducible as of now. Feel free to re-open this open open a new issue if you face the problem again.

Thanks!

[2019-08-14 00:15] harshilsharma63 commented on #31
@0xSheff are you still facing this issue?

[2019-08-14 00:28] harshilsharma63 commented on #26
HI @tsaruks . Do you still face this issue or is it resolved?

[2019-08-14 00:31] harshilsharma63 commented on #22
@nerboda the thing to notice the that error log is `format error`. It indicates that the plugin binary you uploaded doesn't correspond to the platform on which Mattermost server is running. Currently you need to build the plugin on Linux to get a Linux compatibe binary and so on.

[2019-08-19 13:41] harshilsharma63 commented on #20
Closing as already fixed.

[2019-08-19 13:41] #20 closed

[2019-08-19 13:43] harshilsharma63 commented on #19
@rlKoekie do you still face this issue? I cannot seem to reproduce it.

[2019-08-19 13:47] rlKoekie commented on #19
I have not tried to run the BBB plugin in our mattermost instance lately. Feel free to close this issue if it cannot be reproduced.

[2019-08-22 19:34] #22 closed

[2019-09-21 19:12] wyrdnixx commented on #32
Same problem here.
mattermost with docker-compose:
Mattermost Version: 5.14.1
Database Schema Version: 5.14.0

BigBlueButton
dedicated VM-Server
Version 1:2.2.0-4

Local LAN Setup / no firewall

ngnix log of bbb-server only shows a "join" when i try to connect.
192.168.X.XX - - [21/Sep/2019:21:06:55 +0200] "GET /bigbluebutton/api/join?fullName=XXXXXX&meetingID=1R9wqd5WfkG7M25abdbuRJnD2AE&password=

[2019-09-21 19:18] wyrdnixx commented on #32
-> i think i found the issue.
i run the test-install of bbb with an selfsigned ssl certificate

the log from mattermost shows

{"level":"info","ts":1569093367.6986592,"caller":"go-plugin/stream.go:15","msg":"2019/09/21 21:16:07 HTTP GET ERROR: Get https://bigbluebutton.XXXXXX/bigbluebutton/api/isMeetingRunning?meetingID=1R9v5xKwR7tciM0L4yoDvfuSO08&checksum=4690913f42945203cb2544945c0b92015098dc31:

[2019-09-21 20:44] jdanders commented on #32
Sounds like this issue should be re-opened.

[2019-09-22 05:50] ppi1302 commented on #32
Should be, Still same issue with Mattermost 5.15

[2019-09-26 08:09] ppi1302 commented on #32
Please reopen the case as it is not yet solved. Thanks

[2019-09-28 19:39] anshuman91 opened #50 "Unable to connect with meetings -> Error - We could not find a meeting with that meeting ID"
I have installed the plugin in Mattermost 5.15.0 and it went all good. Now it seems demo installation of bigbluebutton stopped working.

It was working fine for few days but now suddenly stopped working and when we create the meeting by clicking call button then it throws the below error,

<img width="782" alt="Screenshot 2019-09-29 at 1 01 20 AM" src="https://user-images.githubusercontent.com/345

[2019-09-28 19:43] anshuman91 commented on #50
@ypgao1 @jfederico @ffdixon Please help here!

[2019-09-28 22:56] ffdixon commented on #50
@anshuman91 we've temporarily disabled the test-install credentials for Mattermost.  Is it an option for you to setup your own BigBlueButton server for use with Mattermost?

You can have a server running in about 15 minutes, see

  https://github.com/bigbluebutton/bbb-install

[2019-09-28 23:05] ffdixon commented on #50
I also offer to personally help you setup a BigBlueButton server as well. You can reach me at the e-mail address on my GitHub profile.

[2019-09-29 09:28] anshuman91 commented on #50
Hello @ffdixon,

Thanks for your reply. I already tried to set up my own BigBlueButton server but it only works first time. I also tried to setup TURN server but nothing was working. I was getting the error related to the MIC configuration. Everything was working like SSL and all but I was not able to connect with the meeting. Audio and video setup was falling.

Please let me know what's next step

[2019-09-29 12:52] ffdixon commented on #50
If you can setup and give me access to it (I can share with you my public key) then I'll take a closer look.  Please e-mail me at my contact info in my GitHub bio.

[2019-10-02 21:17] jdanders opened #51 "Using the `/bbb` command doesn't create meeting"
https://github.com/blindsidenetworks/mattermost-plugin-bigbluebutton/issues/32

See closed issue. We believe it is still valid.

@ppi1302
@wyrdnixx
@harshilsharma63

[2019-10-07 00:26] harshilsharma63 commented on #32
@jdanders @ppi1302 thanks for reporting the error. I'm re-opening the issue and we'll investigate on this.

[2019-10-07 00:37] harshilsharma63 opened #52 "Update Makefile to allow building plugin for multiple target OS"

[2019-10-07 12:19] mightyx1 commented on #19
Hi Guys i am still facing the same issue with the latest Containers. has anyone found a solution? id bbb working on mattermost ?

[2019-10-08 00:17] #52 closed

[2019-10-08 01:06] harshilsharma63 commented on #17
Fixed icon's vertical alignment.

Before:
![](https://i.imgur.com/Pk8i7oZ.png) ![](https://i.imgur.com/KLtTVzH.png)

After:
![](https://i.imgur.com/6LXtcWh.png) ![](https://i.imgur.com/1fjwigd.png)

[2019-10-08 01:15] jasonblais commented on #17
Thanks @harshilsharma63!

[2019-10-08 13:43] HarriLuxus commented on #33
Has there been any developments on this?

[2019-10-08 19:29] jdanders commented on #51
Issue #32 was reopened, this can be closed.

[2019-10-08 19:29] #51 closed

[2019-10-10 13:02] cadavre commented on #29
I'm facing the same problem now while initializing Mattermost and BBB on new communication platform for our company.

One of biggest pains is that once Meeting is created – anyone but channel-users can't join. We need to invite external customers (best – via pretty URL like from Greenlight) that doesn't have a MM accounts.

Another, but very similar case is – inviting some to extend 1:1 meeting. T

[2019-10-10 13:26] ffdixon commented on #29
Thanks for the feedback!

With an invite URL, we would need to bring the user to an intermediate page that asks them for their name (as they are external to Mattermost) and then bring them into the meeting.

We'll give some thought about the best way to do this and update this issue when we have progress.

[2019-10-14 00:29] harshilsharma63 opened #56 "Code Cleanup - Fix review comments discussed in full code PR"
Implement fixes for comments discussed in full code PR over at https://github.com/blindsidenetworks/mattermost-plugin-bigbluebutton/pull/44

[2019-10-17 18:02] cadavre opened #57 "Add join meeting link to Mattermost message and in-call chat"
Is it possible to show "Join URL" somewhere in UI? Or post the 1st chat message with join link?

We'd like to have a possibility to copy-paste URL to someone from outside the channel.

[2019-10-22 06:33] Sofeltis opened #58 "BBB crashing in MM version 5.14.0 and higher"
Hello,

I have a problem with BBB in version 5.16.0. When I click on someone to popover his information it won't happened anything. Can you please investigate it? I'm attaching a SS also. If you don't know what am I talking about, you can find SS where popover works.
![Image Pasted at 2019-10-21 12-33](https://user-images.githubusercontent.com/6420126/67262860-8daa2f80-f4a6-11e9-9f2b-cc298586b1fb.

[2019-10-29 23:00] Magnusemail opened #60 "Error: The meeting ID that you supplied did not match any existing meetings"
Hello guys,

I have a fresh bbb and mattermost on two servers setup -

BigBlueButton Server 2.2.0-beta-22 (1477)
Kernel version: 4.4.0-166-generic
Distribution: Ubuntu 16.04.6 LTS (64-bit)

Mattermost Version: 5.16.1
Database Schema Version: 5.16.0
Database: mysql

Local Lan//No FW or iptables

both work fine when user goes direct to bbb or mattermost (on which have installed the bbb integration w

[2019-10-30 23:30] harshilsharma2 opened #61 "Make plugin compatible with Mattermost running in HA mode"
One quick thing I found is this-

    p.Meetings = append(p.Meetings[:index], p.Meetings[index+1:]...)

We shouldn't store data in memory and used KV store instead.

[2019-10-30 23:31] harshilsharma2 opened #62 "Make plugin HTTP endpoints accessible only by authenticated Mattermost users."

[2019-10-31 00:10] harshilsharma63 commented on #61
Currently we save all meeting data form memory to KV store on plugin deactivation. This will lead to information loss when plugin crases as reported by @hanzei at https://github.com/blindsidenetworks/mattermost-plugin-bigbluebutton/pull/44#discussion_r295326385 .

[2019-10-31 00:23] harshilsharma2 opened #63 "Handle errors returned by various methods"
As part of https://github.com/blindsidenetworks/mattermost-plugin-bigbluebutton/pull/44 we've started returning `error` objects from various functions. These need to be handled and appropriate message should be sent to users.

[2019-10-31 15:34] Magnusemail commented on #60
Update - issue was found to use of proxies between servers. Once proxies removed issue resolved.

[2019-10-31 18:13] ffdixon commented on #60
Thanks for sharing your solution.

For the benefit of others, the docs for adding/removing the proxies are here

  https://docs.mattermost.com/install/outbound-proxy.html

[2019-10-31 18:13] #60 closed

[2019-11-02 19:15] Fox3150 commented on #32
@jdanders @ppi1302 This potentially could resolve your issue. Check your mattermost.log in /opt/mattermost/logs/

I am running an on-site setup of both mattermost and bigbluebutton and also am using an internal Certificate Authority for SSL. I was experiencing the exact same issue with it not creating a room, after some investigating and checking log files I found this:
`{"level":"info","ts":15727

[2019-11-02 19:25] ffdixon commented on #32
We would recommend using HTTPS for the API calls.

Is this BigBlueButton server running a self-signed certificate?  You need a proper certificate issued by a CA authority (such as Let's Encrypt).

[2019-11-04 11:29] cadavre opened #64 "Unable to close BBB meeting when started from desktop app"
If we click "Join meeting" from Mattermost desktop app and BBB meeting opens in browser window – after-call redirect (`/plugins/bigbluebutton/redirect`) cannot close the window due to JS restriction error:

[code]

This is due to:

[code]

Browser: Chrome 78.

[2019-11-05 13:58] Fox3150 commented on #32
@ffdixon As these are internal only we are running a Windows Enterprise CA (Due to the fact we don't use public domain suffixes) for certificates on all internal systems. We push the Trusted Root to our Windows machines via Group Policy however that obviously does not work for Linux. I simply needed to add the Root Certificate to be implicitly trusted on both the Mattermost and the BigBlueButton s

[2019-11-09 06:03] eyebank commented on #18
Experiencing the same issue with recordings not showing up. We built another server from scratch recordings don show up. Is there a way we can check to see if recordings are sitting on the bbb server anywhere?

[2019-11-09 06:34] eyebank opened #65 "recordings don't populate in mattermost"
Hello: built new server, applied the plugin and successfully started a meeting in a public (and private) mattermost channel. Shortly after starting the meeting hit record and tested the system. Upon completion no playback button available - unable to visually review session. what to do?

log:
root@BBB:~# sudo bbb-record --list
Internal MeetingID                                               Time

[2019-11-10 18:04] eyebank commented on #27
resolved.

[2019-11-10 18:06] eyebank commented on #65
HI @jasonblais @ffdixon any ideas?

[2019-11-10 18:58] ffdixon commented on #65
First check the record processing logs to see if there are any errors.  See

  http://docs.bigbluebutton.org/dev/recording.html#troubleshooting

Let us know if you see any errors.

[2019-11-13 18:01] Yumash opened #66 "Mattermost not working with Greenlight"
It works perfect with single BBB installation, but when Greenlight was installed, there came redirects from URL like

https://bbb/bigbluebutton/api/join?fullName=NAME&meetingID=ID&password=PASS&joinViaHtml5=true&checksum=CHECKSUM

to URL like

https://bbb/b

[2019-11-13 18:52] ffdixon commented on #66
Hmm ... installing GreenLight shouldn't affect other API integrations.  The key file that Greenlight installs is
[code]

If you move that file and restart nginx, does Mattermost start working again?

[2019-11-13 20:09] Yumash commented on #66
nope, but i have found the way to make it work. I have disabled Greenlight auth, enabled LDAP, and everything magically started work as supposed. I think that it would be great to have more expected behaviour for integration or just a better documentation, because i suppose that there are permissions issues somewhere

[2019-11-14 09:10] cadavre commented on #66
How is Mattermost integration affecting this? Greenlight is not what BBB plugin for Mattermost is launching. Or am I missing smth?

[2019-11-14 11:59] Yumash commented on #66
@cadavre i suppose that if Greenlight is a part (supported part) of BBB, the installation of it should not break the integration MM<->BBB.

The case was that after i installed Greenlight, my integration became broken, that's all. It seems we are missing some documentation for expected behaviour. I think there's permissions(authorization) issues, because Greenlight puts some security to BBB as is.

[2019-11-14 12:05] cadavre commented on #66
Roger @Yumash . The case is I'm using Greenlight too and it didn't broke a thing in MM<->BBB integration via this plugin. Looks like you have some custom config.

Did you used bbb-install.sh and Greenlight via Docker?

[2019-11-14 12:14] Yumash commented on #66
@cadavre all was from the docs. I installed both BBB+Greenlight with bbb-install.sh command.

But before it i have installed only BBB (with bbb-install) - the integration worked perfectly.

After i have installed BBB+GL, integration broked till the special magic i did in https://github.com/blindsidenetworks/mattermost-plugin-bigbluebutton/issues/66#issuecomment-553580322

[2019-11-19 19:51] jdanders commented on #32
@ffdixon -- this is an entirely self-contained network and we have self-signed certs. As a self-hosted solution, dependency on an external authority like Let's Encrypt shouldn't be a requirement.

@Fox3150 -- I'm not sure what I'm seeing. I do see this in my mattermost logs:
[code]
But the cert is installed at the OS level. If I do `curl --verbose https://SERVER/` I get:
[code]
So it seems like th

[2019-11-20 18:29] Fox3150 commented on #32
@jdanders When you say you have self-signed certificates, are those certificates by a single root authority or is each machine signing its own?

In the instance that each machine is signing its own, you will need to take the certificate from each of the machines and transfer onto the other. Depending on your linux distribution it could be in different locations but for debian: /usr/local/share/ca-

[2019-11-20 19:26] jdanders commented on #32
@Fox3150 I mean a single root authority.

The `curl` test shows that the Mattermost machine (as client) can talk to the BBB machine (as server) using the certificates.

[2019-12-04 08:57] cseeger-epages commented on #27
:+1:

[2019-12-04 10:19] levigo-systems commented on #50
Hello together,

we got the same issue:

`2019-12-04T11:16:47.059+01:00 DEBUG o.b.web.controllers.ApiController - ApiController#join
2019-12-04T11:16:47.060+01:00 INFO  o.b.api.ParamsProcessorUtil - CHECKSUM=fb88b38398038784d97794d75c4d3cf1d470c377 length=40
2019-12-04T11:16:47.072+01:00 INFO  o.b.api.ParamsProcessorUtil - CHECKSUM=fb88b38398038784d97794d75c4d3cf1d470c377 length=40
2019-12-04T11:1

[2019-12-04 17:35] #27 closed

[2019-12-05 04:25] eyebank commented on #65
Hi @ffdixon,

after reviewing the troubleshooting section, i found that there are no values under RAS. Also, more importantly i think, There is not a Tomcat7 folder as described in the section here:

Check out that the parameter defaultMeetingExpireDuration in /var/lib/tomcat7/webapps/bigbluebutton/WEB-INF/classes/bigbluebutton.properties does not have a big value (default to 1).

Images attached.

[2019-12-05 13:22] ffdixon commented on #65
Hi @eyebank,

Can you do the following

  1. Update your BigBlueButton server to the latest build of BigBlueButton 2.2
  2. Add the `api-demo` to the server so you can try creating a recording locally
  3.  Create a local recording using demo10.jsp and ensure that it processes

If it does, try creating a recording again from Mattermost and it *should*.

If it does not, then check out the following

[2019-12-08 03:04] harshilsharma63 commented on #17
Closing as this has been resolved in v2.1.0.

[2019-12-08 03:04] #17 closed

[2019-12-08 03:06] harshilsharma63 commented on #50
@levigo-systems I recommend you to open a separate issue to prevent mixing of conversations.

[2019-12-08 05:22] harshilsharma63 commented on #56
This is already done as part of v2.1.0.

[2019-12-08 05:22] #56 closed

[2019-12-10 18:42] eyebank commented on #18
@Bortseb did you get this issue
resolved?

[2019-12-11 15:37] eyebank opened #68 ""Join Meeting" same user can join the same meeting multiple times"
Consider addressing this issue where the "join meeting" is always available even though the same user is already in the meeting.

Thanks

[2019-12-11 18:30] eyebank commented on #65
@ffdixon Fred, as requested:

Can you do the following

Update your BigBlueButton server to the latest build of BigBlueButton 2.2 >>> Done
Add the api-demo to the server so you can try creating a recording locally >>> Done
Create a local recording using demo10.jsp and ensure that it processes >>>> Done
If it does, try creating a recording again from Mattermost and it should.  >>> It Did! Perfect

[2019-12-11 18:44] ffdixon commented on #65
Hi @eyebank,

Can you try the command

  `sudo bbb-record --list`

and see if you see any output in the 'Presentation' column for the recording with published `01efc7973f02cbaa316fe3fdb71965d8b2d14d35-1575568035793`.

  http://docs.bigbluebutton.org/dev/recording.html#troubleshooting

[2019-12-12 01:33] eyebank commented on #65
@ffdixon As requested, providing the full log..

**01efc7973f02cbaa316fe3fdb71965d8b2d14d35-1575568035793**  Thu Dec 5 12:47:15 EST 2                                                                                                             019   X   XXX X          6                      presentation        **1UZdQ4JsSqBH

[2019-12-12 01:37] ffdixon commented on #65
It's a bit hard to read (next time recommend putting the text in [code blocks](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#code).

Are all the `presentation` recording formats under the `published` heading?

[2019-12-12 01:47] eyebank commented on #65
@ffdixon thanks for trying to help
![fred_1](https://user-images.githubusercontent.com/8021595/70675509-61659080-1c57-11ea-9bfe-50fe386cd103.jpg)
![fred_2](https://user-images.githubusercontent.com/8021595/70675510-61659080-1c57-11ea-8cd4-5969b24e6dca.jpg)

 me out here. Yes, all except 2..

[2019-12-12 12:14] ffdixon commented on #65
Ok, next is to see what recording Mattermost is requesting.  All API calls to a BigBlueButton server appear in `/var/log/nginx/bigbluebutton.access.log`.

Do

[code]

and then go to a place in Mattermost which has a recording.  Do you see any `getrecordings` API calls appear in `bigbluebutton.access.log`?  See

  http://docs.bigbluebutton.org/dev/api.html#getrecordings

[2019-12-12 15:20] eyebank commented on #65
Yes, API calls appear.

###

![fred_2](https://user-images.githubusercontent.com/8021595/70724657-fb195600-1cc8-11ea-8091-b74eae0a2fb2.jpg)

[2019-12-12 15:35] eyebank commented on #65
navigating to one apt call
![fdixon3](https://user-images.githubusercontent.com/8021595/70725859-23a24f80-1ccb-11ea-8246-01d9df087411.jpg)
location:

[2019-12-12 15:43] ffdixon commented on #65
Can you try creating a new meeting in Matterhorn, and take note of the `meetingID` that comes through the API calls.  Can you then wait until the recording procesess and look for the `getrecordings` API call that comes back through.  Does the `meetingID` on the `getRecordings` match the meetingID on the `create` API call?

[2019-12-12 17:20] eyebank commented on #65
As instructed, created an
new external meeting ID: 1UtDKAnz7mWBoDgg4FA32fBqvBi
07eb4c3272c6e18ca82f03323dd0bc7af5cfdcce-1576087377795

external meeting ID does not match anything in the API calls.
(See images).
![DixonHelp1](https://user-images.githubusercontent.com/8021595/70734200-c82b8e00-1cd9-11ea-8e87-f1c3783b159b.jpg)
![DixonHelp2](https://user-images.githubusercontent.com/8021595/70734204-c

[2019-12-12 21:39] eyebank commented on #65
ah, "Matterhorn". @ffdixon

[2019-12-13 02:19] ffdixon commented on #65
Can you contact me directly -- I'd like to take a closer look at your setup.

[2019-12-13 13:28] eyebank commented on #65
Sent Email. Will need contact information.

[2020-03-20 13:31] agrisvv opened #71 "not work then mattermost under location"
Mattermost are under location https://domain.com/mattermost
plugins wants to acccess https://domain.com/plugins/bigbluebutton/create

need to change line:
[code]
to something like:
[code]

[2020-03-20 13:39] harshilsharma63 commented on #71
@agrisvv HI, thanks for reporting the issue. This is directly related to https://github.com/mattermost/mattermost-server/issues/14106 and can be fixed with relative ease. Can you confirm that you set the `SiteURL` setting in your Mattermost as `https://<your-domain>/mattermost` ?

[2020-03-20 14:36] agrisvv commented on #71
"SiteURL": "https://domain.com/mattermost"
also was try with slash at end - not helped.
now plugin work if i change line from /plugins to /mattermost/plugins in JS

[2020-03-21 20:24] nicolailang commented on #33
Still an issue - the problem is MM mobile app (I'm using iOS) does not show the "Join Meeting" button - as stated the mobile app is lagging behind. So for now the solution is to sign in to MM in a browser. :-(

[2020-03-23 13:06] rabser opened #72 "Can't view recordings in mattermost channel"
Hi, i read the other issues related to recordings problems, but none of them seems apply.
I've a BBB new installation finished 10 hours ago - latest release - and i connected it to my mattermost.
The BBB rooms works perfectly and the recordings seems ok, if i take  a look at the log i got:

[code]

where i changed for security my mattermost url and the recording id.
But no recordings appears into

[2020-03-28 02:45] rabser commented on #72
It seems that on this server (please note that other mattermost installation i own works fine) the mattermost plugin for bigbluebutton encouter a bug, these are the log lines i got after ending a conference and the recording (very short) it's available:

[code]
I tried also to uninstall/install again the latest release of the plugin, but without luck.
My Mattermost version is 5.20.1 hosted on a ce

[2020-03-31 12:07] IulianDita commented on #19
Hey there people. I am having the same issue.

bbb server (AWS EC2)
BigBlueButton Server 2.2.3 (1833)
Kernel version: 4.4.0-1104-aws
Distribution: Ubuntu 16.04.6 LTS (64-bit)
Memory: 4044 MB
CPU cores: 2

Mattermost is running on Gitlab Omnibus version 12.9.1, and BBB plugin is version 2.1.0, running on Debian Buster (on premise).

[2020-04-02 08:51] show0k commented on #40
I did not tested it, but there is [scalelite](https://github.com/blindsidenetworks/scalelite), a BBB load balancer that use the same API as BBB, so it can be plugged on the frontend seamlessly.

[2020-04-02 13:44] grisuthedragon commented on #71
I had the same problem in my setup. I use as well the `mattermost` as subpath. At the moment, I patch the plugin and compile ist myself.:

[code]

But it would be better to read the suburl from the mattermost config.

[2020-04-06 10:24] mhier opened #74 "Feature request: Attach slides and shared notes to mattermost message"
The uploaded slides and shared notes should be attached to the mattermost message, even if no recording was made. This would be extremely helpful e.g. for taking meeting minutes in the shared notes.

[2020-04-06 11:01] mkuron commented on #74
This feature depends on https://github.com/bigbluebutton/bigbluebutton/pull/8895.

I actually already implemented a quick-and-dirty prototype of your feature request a few weeks ago. It is a PHP script that posts slides, notes and chat logs to the Mattermost channel. It depends on https://github.com/blindsidenetworks/mattermost-plugin-bigbluebutton/pull/73. I'd be happy to provide that PHP script

[2020-04-07 00:38] eyebank opened #75 "BBB URL does not launch outside firewall"
Hello:

We reinstalled bbb with the script on a fresh server and loaded the newest mattermost plugin.
The ports open are 22 (TCP), 80 (TCP), 443(TCP/UDP) and the range 16384 - 32768 (UDP).

Operation:
We click to create a BBB meeting and then click the Big Blue Button.
Problem identified:

When working inside the firewall, When one clicks "Join Meeting", The Big Blue Button Home Page launches in a

[2020-04-07 01:03] eyebank commented on #75
disregard. I found this:
bigbluebutton does not load
If your has changed it’s network connection (such as on reboot), you can most of BigBlueButton’s configuration files with the following steps.

$ sudo bbb-conf --setip <ip_address_or_hostname>

$ sudo bbb-conf --clean
$ sudo bbb-conf --check

Research Works!

[2020-04-07 01:03] #75 closed

[2020-04-07 02:04] eyebank opened #76 "Clues Needed: Nginx Proxy for BBB"
I dislike burning a public for BBB (and for better protection) i'd like to use a reverse proxy in front of BBB server.

My setup Firewall NAT to BBB server will those open ports. Everything works fine (except recordings).

What i want (and it does not work) nginx reverse proxy for upstream BBB server. It appears i cannot shut down the BBB nginx server and place the sever behind a proxy server. Wha

[2020-04-08 16:35] rottaran commented on #76
I left the BBB nginx running as it is inside the BBB's lxc container. My frontend nginx acts as reverse proxy towards BBB and towards mattermost. Moving BBB into a subpath requires quite some config changes. I would avoid this if possible.

My host nginx config:
[code]

with the usual definitions for `$connection_upgrade` and `$http_upgrade`:

[code]

Inside the BBB's nginx I did:
[code]

This con

[2020-04-08 16:37] rottaran commented on #76
By accident I found some error messages in the logs and then did the following. This might help and is nowhere in the extensive documentation. If it helps for you, please tell.

[code]

[2020-04-08 17:18] rottaran commented on #71
I have used following javascript code in `webbapp/client/client.js`. It assumes that the mattermost URL always ends in `/TEAMNAME/channels/CHANNELNAME`. I do not know whether this is always the case where this plugin can get activated.

[code]

[2020-04-09 05:00] jdanders commented on #32
Okay, so I'm back to trying to get this to work again. I am using Gitlab Mattermost with the omnibus install, and it turns out they have a separate copy of trusted certs, so I put my self-signed cert in `/etc/gitlab/trusted-certs/` and after restarting gitlab, it seems to be accepting the cert now.

However, it's still not working;
[code]

Any tips on how to debug this?

[2020-04-09 07:53] rottaran commented on #32
My guess because ip:127.0.01 looks strange: The server side of the plugin has to connect to bbb in order to set up the meeting etc. This connection is encrypted or should be encrypted. The request has to be addressed to the public domain name of the bbb server, not just localhost. Otherwise the bbb side cannot accept the connection. Did you use the full servername in your plugin configuration?

[2020-04-09 14:18] jdanders commented on #32
I noticed that too, but yes I used the full servername in the config, and I do see traffic going from gitlab/mattermost server to BBB server. However, when I checked the servername I noticed that the instructions below the URL entry box say "`Enter the url of your BigBlueButton server ending with /bigbluebutton/api`". I only had it up to `/bigbluebutton` so I was missing the `api` component. Addin

[2020-04-09 14:18] #32 closed

[2020-04-14 00:07] eyebank commented on #66
So @Yumash I noticed the same thing that when greenlight is installed and i launch BBB with the plug in, the url for greenlight appears. Like: "https://mydomain.org/b" . i'm gonna try to disable greenlight (your method) to see if BBB launches. snapshot first!

[2020-04-14 09:24] rottaran commented on #66
This was me driving almost insane :) The issue is, that the location "/b" in nginx matches everything **beginning** with b, which can be even more than just /bigbluebutton and /bbb.
I solved it this way:

[code]

[2020-04-15 16:11] eyebank commented on #76
Thank you @rottaran Thank you very much!

[2020-04-15 16:11] #76 closed

[2020-04-15 16:14] eyebank commented on #66
So, I resolved my issue. Chrome broke things. I migrated to firefox and can use both front ends BBB Plugin and Greenlight) without issue.

[2020-04-15 16:19] eyebank opened #78 "Enhancement Request: Only Host can end a meeting"
If i start an meeting any other person in the meeting can end the session.

Consider only allowing individuals that start the meeting have the ability to end the meeting; all other users can log off only.

thanks

[2020-04-15 16:21] eyebank opened #79 "Enhancement Request: Restrict recording meeting to host"
consider allowing only the host to trigger the recording action/button. For all other meeting participants hide the recording button.

[2020-04-15 18:19] eyebank opened #80 "Question: Ending Meetings"
Hello:

I got the plug-in to work well. Not 100% but well enough to consider deploying. I am overjoyed!

On my deployment i noticed that if you end the meeting in BBB, the link in mattermost is still live until someone closes it via "end meeting".
The issue is that the actual duration of meeting is not accurate.  I can imaging an individual unintentionally leaving a the mattermost meeting link liv

[2020-04-15 19:49] mkuron commented on #80
There is a configurable timeout to automatically end empty meetings: https://github.com/bigbluebutton/bigbluebutton/blob/41f19a2cd1bc7dae76cbd805cdc3ddfbf1e6ab18/bigbluebutton-web/grails-app/conf/bigbluebutton.properties#L179. I have seen the timeout kick in on my install, so I can confirm that it should work. Note that this is not functionality of the MM plugin, but core functionality of BBB itse

[2020-04-16 08:05] cadavre opened #81 "Use header BBB icon instead of generic "camera" icon"
Hi, some of use are using more that one audio-video communicators. It is hard to distinguish them by looking at the icon fo generic camera.

My suggestion is to create Mattermost-style icon for BBB and use it instead.

<img width="52" alt="Zrzut ekranu 2020-04-16 o 10 04 10" src="https://user-images.githubusercontent.com/461796/79430738-afa1ec00-7fc9-11ea-81a8-8f5afdee6fb8.png">

[2020-04-16 13:00] fkellner opened #82 "Enhancement: Add Option to Disable "View Recordings" Button"
Since BigBlueButton often is used in a corporate context, compliance with data protection laws and concerns is important. One such concern is that worker representation **may not be okay with using a video conferencing tool with the option to record meetings.**
Now, I am really thankful for this Plug-In which is of great help to establish self-hosted Mattermost as a real alternative to data-hungry

[2020-04-16 13:53] mkuron commented on #82
That option is currently set to true globally: https://github.com/blindsidenetworks/mattermost-plugin-bigbluebutton/blob/8d7cb82407753b1ea354a7607d7d4ae6b63c4c17/server/helpers.go#L55. If you want to disable recording globally, you can already do that for the entire BBB server (i.e. not specific to the MM plugin).

[code]

[2020-04-16 15:50] fkellner commented on #82
Thank you for the quick reply and support! I guess that solves my problem.

However, it would probably be a nice-to-have if the "View Recordings"-Option in the Button Modal could be turned off, too, so should I leave this open as inspiration in case somebody has the time to bother with this detail, or close it?

[2020-04-16 16:25] mkuron commented on #82
Yes, I'd like to see that too. Perhaps you can change the issue title to _Disable "View Recordings" button_ or something.

[2020-04-17 12:03] flowy2020 opened #84 "Sync BigBlueButton chat with Mattermost channel"
Hi,
i already have searched on google, but didn't find anything.
We are using BBB as integration with MM.
We set up a MEETING channel, which is dedicated to meetings, so people won't have to search around where a daily meeting join button is, since we have a lot of chatting in multiple channels going.
Since MM generated BBB meetings are somewhat volatile and people aren't used to check the chat in

[2020-04-17 13:15] zorun opened #85 "Clicking "Join meeting" sometimes opens blindsidenetworks website"
When clicking "Join meeting" in the mattermost webapp, sometimes it opens https://blindsidenetworks.com in a new tab instead of the expected meeting.

With Firefox on Linux, this happened from time to time (not always). A friend on Windows told me it happened every time. I don't know which browser it was, but it was not Firefox. With Firefox it was working as expected.

Looking at the code, the go

[2020-04-18 01:13] eyebank commented on #85
+100 for you sir @zorun . This has plauged me for several months! I thought the plug in was broken, meetings would not launch within chrome - was usining chrome browser exclusively. The only instance the plug-in would work on chrome browser is when you use the --clean command and it would only work once.
Finally, just this week i switched to Firefox browser and "Join Meeting" button worked Every.

[2020-04-18 01:18] eyebank commented on #82
I posted a similar request  here:

[https://github.com/blindsidenetworks/mattermost-plugin-bigbluebutton/issues/79](url)

Thanks

[2020-04-18 01:19] eyebank commented on #80
Thank you @mkuron

[2020-04-18 01:24] eyebank commented on #72
@rabser I noticed the same or similair issue with the plugin. Recording do not appear in the channel. I build several servers with the script and manually same result.
However, with the same servers with the greenlight front end the recordings appear.

[2020-04-20 08:01] a3nm commented on #18
Same issue here -- with our Mattermost and BBB install (Mattermost Enterprise Edition Version: 5.21.0 from Docker, BigBlueButton Client Build 862, and BigBlueButton plugin for Mattermost version 2.1.0), when recording a session and then ending it, no recordings are ever posted to the channel (and clicking "View recordings" does not show anything), even several days after the meeting.

[2020-04-20 20:48] muriloht commented on #19
I have the same problem here...

[2020-04-20 20:57] Natureshadow opened #87 "FR: Set bbb-origin and bbb-origin-server-name"
In order to identify meetings started by the Mattermost plugin, please add the origin metadata when creating the meeting. See Greenlight for reference.

[2020-04-22 08:37] Be-El opened #88 "Plugin only uses link to first recording element"
We are using a little cluster of BBB backend and a scalelite load balancer. We have configured to backend to record all possible sources (presentation, audio, video, screenshare, notes) by installing the corresponding plugins.

The plugin works in this setup, but only uses the first available format. In most cases this is not the expected one (see https://github.com/blindsidenetworks/mattermost-pl

[2020-04-22 12:50] IulianDita commented on #19
I enabled debug, here's a sample of what's going on. Any ideas?
[code]

[2020-04-22 13:11] GabinhoJean opened #89 "got the mattermost error bigbluebutton: Unrecognized remote plugin message when i recompile this plugin"
Hi,
thank for this great project.

I'm trying to modify some aspects of this plugin.

For testing purposes, I followed the steps below:

1- I cloned this project on my server.

2 - I installed some missing GitHub dependencies using the command "go get"
 example: go get github.com/blindsidenetworks/mattermost-plugin-bigbluebutton/server/bigbluebuttonapiwrapper/api

3- I executed the command make bu

[2020-04-22 13:58] dfun90 commented on #33
We're also having this issue with the mobile client. The web/desktop app shows the "Join Meeting"-Button, on mobile there's only a hashtag with some Id.

My idea for a workaround would be to have an optional config option that allows to specify that the BBB plugin posts an actual URL to the meeting besides the big blue shiny button. At least until Mattermost has proper integration for plugins insi

[2020-04-22 21:00] JulianOliver opened #90 "BBB plugin crashing under load"
We have a 5-figure Mattermost population using our instance day in and out. Big Blue Button has been used heavily, largely through MM, since launch a couple of weeks ago. The BBB plugin has crashed three times in this period, during peak usage times.

[code]

Any ideas and/or patches would be greatly appreciated!

[2020-04-22 21:30] mkiszczyk commented on #33
My workaround is to use a mattermost classic app. Its working there. Am using android 9.1. local mattermost server and bbb local server.

[2020-04-22 23:34] rottaran commented on #33
I was looking into it a few days ago. The plugin on server-side keeps an array of created bbb sessions without actually creating it on the bbb side. The mm client that clicks on the participate button triggers a small javascript, which generates a post request to the plugin's server side. The first client that reaches there triggers the actual creation of the bbb-session. I guess that the clients

[2020-04-26 14:00] sumit1528 commented on #39
Any input on it i wanted to restrict every session with a user limit so what i mean is if a client creates more than 100 users whether in a single session or in a multiple sessions i should be able to block it automatically so that as soon as it crosses the threshold i can show him a system message

[2020-04-26 14:03] ffdixon commented on #39
You could implement the limit in any front-end to BigBlueButton.  The Front-end could periodically query the server using [getMeetings](http://docs.bigbluebutton.org/dev/api.html#getmeetings) and keep track of the number of meetings/users.  Based on that data, it could let users create/join meetings accordingly.

[2020-04-27 20:04] danger89 commented on #90
Sounds like you need to increase the max number of database connections (MySQL?). Ps. I'm not a developer of Mattermost nor BBB.

[2020-04-28 01:22] harshilsharma63 commented on #90
@JulianOliver I think the actual error is way above in logs. Can you try attaching the complete log file? You can filter for plugin events by searching for `"plugin_id":"bigbluebutton "` and only including those lines.

[2020-04-28 16:38] danger89 commented on #32
Sue problem..

[2020-04-29 18:08] gppcff commented on #72
I have the same problem.
From what I see [in the code](https://github.com/blindsidenetworks/mattermost-plugin-bigbluebutton/blob/54386cddbee0278a47d6dd0eb45e794c90d99fd6/server/responsehandlers.go#L382), for some reason, the management of the RecordingReady endpoint has been commented and the "status_recording" is not set to "COMPLETE", consequently[ the links to the recordings](https://github.com

[2020-04-30 19:40] jdanders commented on #32
That looks like a very different problem. This problem is for self-hosted servers with self-signed certificates, and the problem was not creating the meeting. You'll have better luck creating a new issue.

[2020-05-02 13:15] shurakov-igor opened #92 "BBB moderator for "team_admin"."
Is it possible to add a setting to limit the rights to create a webinar only for "team_admin" with the rights of a moderator of a webinar? The rest of the team members are like ordinary listeners, without the possibility of intercepting the rights of a moderator. As I understand it, the BBB API allows this, but MM did not understand ..

[2020-05-02 14:53] n3niu opened #93 "How can I change the URL after ending a BBB meeting?"
After ending a BBB meeting initiated from the Mattermost client the browser opens https://<SiteURL>/plugins/bigbluebutton/redirect showing a blank page.
If possible how can I redirect to another URL?
Thank you

[2020-05-06 11:46] moschlar commented on #57
This would also help with #33

[2020-05-10 01:41] harshilsharma63 commented on #93
@n3niu can you verify that you have `SiteURL` configured in your Mattermost installation?

[2020-05-10 01:47] harshilsharma63 commented on #89
@GabinhoJean can you verify that you configured the plugin correctly before activating it? If that doesn't work, set Mattermost log level to `debug` and then see what comes up in logs.

What's your build environment like-
* Go version
* Npm version

[2020-05-10 02:30] harshilsharma63 commented on #88
@Be-El the recording link your receive in MM shows both screens shared webcam recording. Is that not the case with your setup?

[2020-05-10 02:42] harshilsharma63 commented on #93
@n3niu also, how are you opening the meeting from Mattermost after ending it?

[2020-05-11 16:03] greatfireball commented on #88
Indeed, in our setup the Podcast is always the first recording returened and therefore will be linked here. I created a fix which displays different types. I can create a pull request if you would like to.

[2020-05-11 16:08] Be-El commented on #88
Our setup is also not a simple BBB, but a scalelite load balancer and several BBB endpoints. The API requests to retrieve the recordings are sent to scalelite; maybe the API or the scalelite collector uses a different order in the underlying XML file.

[2020-05-12 05:41] harshilsharma63 commented on #81
This makes sense. We can probably add the BBB logo over there.

[2020-05-19 14:32] paulrolandw opened #95 "bbb plugin flashy incoming "call""
Hello we are evaluating bbb on mattermost and willing to go full prod.
the only complaint we have from inside is that when somebody "calls" in it's easy to miss it because it's not popping up or making any sound rather than the default msg one to join the meeting.
Is there anything we can do on that? our goal is to replace skype completely.

[2020-05-24 22:07] prof-foster opened #98 "Bot-controlled "Breakout Rooms""
Not an issue but a question / feature request ...

... I would like to use Mattermost and BBB in my relatively large class this coming September and something I would love to be able to do is have a "Classroom Management Bot" to whom I could say "start breakouts" and the bot would look at who is online, group them somehow in private chats, and the for those private chats launch a BBB session.

So

[2020-05-29 04:29] greatfireball opened #99 "Republish Videos?"
Good morning,

is it somehow possible to re-publish the recordings? I want the trigger the publishing event to refresh all or at least some post by the plugin.

Thanks in advance!

[2020-06-11 04:54] derek-shnosh opened #101 "Cannot upload "Received invalid response from the server.""
Running Mattermost 5.23 on Ubuntu 18.04.4 LTS.

[code]

I've verified all settings are correct per the install guide; including double checking the `config.json` file. I downloaded the linux version of the plugin **bigbluebutton_linux_amd64.tar.gz**, and tried to upload it; I received the message: "Received invalid response from the server."

![image](https://user-images.githubusercontent.com/2109

[2020-06-12 19:26] derek-shnosh commented on #101
Discovered the issue... **System Console > Environment > File Storage** had _Maximum File Size_ set to 5MB.

[2020-06-12 19:26] #101 closed

[2020-06-15 06:56] ZidaneCA commented on #89
Hi @harshilsharma63 , I have a similar problem and my npm version is **6.14.4**, go version **go1.11 linux/amd64**

[2020-06-17 00:47] harshilsharma63 commented on #89
@ZidaneCA do you see any errors in Mattermost logs? try setting log lever to debug and repeating the action. There should definitely be something in logs.

[2020-06-17 06:47] ZidaneCA commented on #89
Hi @harshilsharma63 , this is an extract of my logs in debug mode (hope it will be of much help). I notice this line stands out **Error relocating /mattermost/plugins/bigbluebutton/server/plugin.exe** , (it occurs many times in the logs).

{"level":"warn","ts":1592217066.5269194,"caller":"plugin/hclog_adapter.go:53","msg":"plugin failed to exit gracefully","plugin_id":"bigbluebutton"}

{"level":"d

[2020-06-21 18:03] n3niu commented on #93
Hi and a big fat sorry for coming back that late. I just moved away from BBB and so there's no more problem. Anyway, I highly appreciate your response. Thank you very much.

[2020-06-21 18:03] #93 closed

[2020-06-25 11:43] SunBlack opened #102 "Publish plugin in mattermost plugin marketplace"
Is it possible to publish this plugin within the [marketplace](https://mattermost.com/blog/mattermost-plugin-marketplace/) of mattermost? On this way installation would be simplified and you don't need to check for updates yourself.

[2020-07-01 12:22] cyamal1b4 opened #103 "Test Integration BBB not opening any meetings"
I've set up the Mattermost server in docker (production install not local test) and went through the correct steps to get the BBB plug-in integrated. However, when I select to call someone (a test user on another machine) it wont open any BBB services. It just creates a private chat but wont pivot into any meetings or the BBB application.

[2020-07-13 15:45] wget commented on #102
Hi there. Working at @Arawa and being a core committer at @Mattermost, [we are willing](https://github.com/arawa/mattermost-install-guide/issues/7) to have this plugin made available in the Mattermost marketplace.

The requirements to have the plugin published at Mattermost are not hard to reach. I personally know @hanzei, so this could ease the process :) Will check this out and reach to @blindsi

[2020-07-16 00:22] wget commented on #102
We can close =) Plugin available.

https://integrations.mattermost.com/?s=BigBlueButton%20Plugin

[2020-07-16 23:28] harshilsharma63 commented on #102
@SunBlack @wget I'm looking into this.

[2020-07-17 15:17] wget commented on #102
@harshilsharma63 Great! Let me know if you have any question, I'll be around =)

[2020-07-20 00:38] harshilsharma63 commented on #102
Marketplace Requirements

### Requirements for Adding A Community Plugin to the Marketplace

1. [ ] The plugin is published under an Apache v2 compatible license (e.g. no GPL, APGL). A list of compatible licenses can be found  [here](https://apache.org/legal/resolved.html#category-a).

	1. Already on Apache 2.0 license

1. [ ] The source code is available in a public git repository

	1. Already av

[2020-07-20 00:42] harshilsharma63 commented on #102
Above is a list of requirements required for plugins to be listed in Marketplace. I've created an initial PR for fulfilling the checked requirements. Working on remaining requirements too.

[2020-07-20 02:07] harshilsharma63 commented on #102
P.S. - the PR I'm talking about above - https://github.com/blindsidenetworks/mattermost-plugin-bigbluebutton/pull/105

[2020-08-07 09:48] wepe53 commented on #29
Has this issue been solved in between?
We have the same problem to invite external (non MM) users to a videoconference - how to do this?
Thanks!

[2020-09-01 09:13] louisroyer commented on #85
This happens to me every time on firefox when I activate temporary containers addon.

[2020-09-11 17:37] tclavier opened #110 "student URL"
As a teacher, my students are in one mattermost channel. I want to create a BBB room and share the student url (with a token for student) in the mattermost channel and I want to have the teacher URL (actual url with teacher token) in a private channel with bot.

[2020-09-14 07:27] afle opened #111 "No icon shown for BBB-Blugin"
Hi,

we are running Mattermost 5.25.3. The BBB-plugin is installed and configured. But there is no icon for starting a conference shown anymore.
Using the slash command "/bbb" creates just following message

---------------
#BigBlueButton #Big Blue Button Meeting #ID1hUXv8sYWka64zPZx26tNjIwzvi
---------------

Each hashtagged word is a link to "https://<FQDN of mattermost server>/<team>/messages/@

[2020-09-16 07:00] karthik1710 commented on #76
Hi @rottaran, Im Trying to setup BBB behind Nginx reverse proxy has frontend. It would be great if you share the nginx reverse proxy conf and bbb nginx conf. Thanks

[2020-09-24 14:09] IdrissHassani11 commented on #111
Hello, I'm having this issue too
the join button appears correctly when we use Mattermost Classic version... But on the newer version of the app there's the weird link with #ID something.

[2020-09-27 19:18] OneTwoBarbecue commented on #111
Hi,
same problem here (server version 5.23.0). I guess the classic app just runs a webbrowser which accesses the mobile version of the webinterface and because of that the bbb-plugin works correctly.
But unfortunately the native mattermost-app causes the issue and does not permit any member to participate in the conference but creates the message shown above.
So does the issue need to be fixed on

[2020-10-02 08:37] moschlar opened #113 "getRecordings is spamming our scalelite API server"
Hi,
we noticed that our scalelite API gets hammered with requests for recordings by this plugin.
The plugin has 1262 meetings stored in the recording_queue key while there are only 1118 meetings in all_meetings.

That doesn't seem right.
What can be done to prevent this or clean this up?

Regards,
Moritz

[2020-10-08 12:59] NexusEFR opened #114 "Update to 2.2.26 latest release oficial BBB"
an update is planned for the MM plugin just like the official version of BBB, it seems to have more development than the plugin. Thank you, fantastic plugin nonetheless.
Best regards

[2020-10-20 23:52] wget commented on #102
@harshilsharma63 Are you missing some stuff to get the other points ready? If that the case let me know! ;)

PS.: Of course the 60 K install validation is a bit hard to have, and if only there is that step left, I assume Mattermost will accept the package and put the `BETA` flag on it.

[2020-10-28 08:59] moschlar commented on #87
Ping!

[2020-10-28 09:59] moschlar commented on #114
?

[2020-10-28 11:23] NexusEFR commented on #114
The official version already goes for 2.2.26 but in Mattermost it is 2.1.0, then the question is... will you also update the plugin for Mattermost with this latest version? Thank you, greetings

[2020-10-29 00:46] harshilsharma63 commented on #113
@moschlar are you on the latest plugin version? This bug where the plugin keeps checking for meetings was fixed in the latest release.

[2020-10-29 20:16] moschlar commented on #114
The version of the plugin is not tied to the version of BigBlueButton.

[2020-10-29 20:19] moschlar commented on #113
Yes, we do!

You probably mean this commit: https://github.com/blindsidenetworks/mattermost-plugin-bigbluebutton/commit/14a66db06596f66514695382971b5e14e4ca726d right?

But I actually can't see any changes in the code that would correlate with this problem!

[2020-10-29 23:01] harshilsharma63 commented on #113
@moschlar this is the commit for the bug fix - https://github.com/blindsidenetworks/mattermost-plugin-bigbluebutton/commit/965fb1fd75e9e12e0250b50fb0617d58ca885842

[2020-11-04 11:46] iddelacruz opened #115 "Single Sign On in BigBlueButton Server 404 NotFound"
Hi guys.

I'm testing this plugin with my own biblugebutton server. My server have SSO with google and when iI try to create a meeting from Mattermost and access to the meeting URL, I have those message:

**Whitelabel Error Page

This application has no explicit mapping for /error, so you are seeing this as a fallback.
Wed Nov 04 11:40:06 UTC 2020
There was an unexpected error (type=Not Found, sta

[2020-11-06 15:16] mathieu-rossignol commented on #18
Hi there, +1: on our own mattermost+bbb installations, we can record meetings but we don't find them afterwards.

mattermost:Mattermost Version: 5.25.3
Database Schema Version: 5.25.0
Database: postgres

[2020-11-06 16:00] mathieu-rossignol commented on #18
Ok regarding the problem I just described, the problem seems to be on the bbb server where the services in charge of the processing of the recordings before publication are not all running. This is probably the root cause of our recordings not published on mattermost. So I will investigate my services now. I let these statements for other people that could come here for the same problems. I confes

[2020-11-11 11:30] iddelacruz commented on #103
Hi, you fixed this problem? I have a problem with my bbb plugin and my bbb server with Google oauth

[2020-11-11 11:32] iddelacruz commented on #85
Disable and enable plugin fix this problem.

[2020-11-11 13:35] moschlar commented on #113
I've just seen #100 - that seems highly relevant to our issue!

[2020-11-14 12:53] Schleuse opened #116 "Plugin-Marketplace not available on Mattermost 5.29"
I've just updated our Mattermost-Instance to 5.29 and noticed that the Plugin-Marketplace page isn't rendered anymore.
After some digging I found the error - The BBB-Plugin Manifest is missing the `description`-property. After temporary uninstalling the bbb-Plugin the Plugin-Marketplace page was accessible again.

**Error:**
[code]
![2020-11-14_13-48](https://user-images.githubusercontent.com/2717

[2020-11-16 11:13] BlackHawk171 opened #118 "BBB mattermost plugin redirects to https://blindsidenetworks.com/"
BBB mattermost plugin redirects to https://blindsidenetworks.com/ when trying to connect with meeting

EDIT: After several browser refreshes it opens the meeting, but this is annoying

[2020-11-16 11:26] BlackHawk171 commented on #118
Saw Issue from April, but it seems it is not fixed yet

[2020-11-16 23:46] harshilsharma63 commented on #116
@Schleuse your PR has been merged. We'll cut a release soon.

[2020-11-16 23:46] #116 closed

[2020-11-19 09:53] frarude opened #119 "Plugin Kills Mattermost "Plugin Marketplace" Page"
Mattermost latest version (5.30) after installing this plugin, the Plugin Marketplace stops to work. Only produces a blank page.
No entries in the log file.
After removing the plugin the marketplace is working.

The Plugin itself seems to work.

[2020-11-20 01:33] #85 closed

[2020-11-20 02:25] #87 closed

[2020-11-20 04:49] palmtown opened #120 "Add Name Text Field and Logo URL for Branding"
Hello,

You've done a great job creating this plugin.  However, I'd like to kindly request a feature for branding.  In short, this would take 2 new fields, one field be added to the plugin settings page named "Plugin Name," and other would be "Plugin Logo."  The Plugin Name field should should default to "BigBlueButton" however, when changed should be reflected in the bot name, the "Create a BigBl

[2020-11-20 16:06] TI-Admin commented on #119
I can confirm that the problem is also with Mattermost v5.29.
I didn't had this problem with Mattermost v5.28.

[2020-11-21 01:24] harshilsharma63 commented on #92
This will be released as part of v2.2.

[2020-11-21 01:24] #92 closed

[2020-11-21 14:34] #113 closed

[2020-11-21 18:26] TI-Admin commented on #119
This is also reported and fixed for upcoming v2.2.0

[](https://github.com/blindsidenetworks/mattermost-plugin-bigbluebutton/issues/116)

[2020-11-21 18:39] TI-Admin opened #121 "[Feature Request] Use full name instead of user name in BBB sessions"
I would be nice to see a users full name instead of a possibly cryptic username in the BBB session.

The Moodle plugin for BBB does already provide this for example.

[2020-11-26 05:06] harshilsharma63 commented on #119
@frarude Thanks for filing the bug. We'll get this resolved in the upcoming release.

[2020-11-27 01:04] #119 closed

[2020-11-30 00:51] harshilsharma63 opened #125 "Add deploy target in makefile for faster development"

[2020-11-30 00:53] #125 closed

[2020-12-05 06:08] harshilsharma63 commented on #118
@BlackHawk171 are you facing the issue on the latest plugin release?

[2020-12-05 06:11] harshilsharma63 commented on #114
@NexusEFR @moschlar is right. The plugin version and BBB version are not dependent. You can use Mattermost plugin version 2.1.0 with BBB version 2.2.26. Though I recommend upgrading to the latest version of Mattermost plugin.

[2020-12-05 06:11] #114 closed

[2020-12-05 09:41] harshilsharma63 commented on #121
This will be part of v3.2.0.

[2020-12-05 09:41] #121 closed

[2020-12-05 13:06] harshilsharma63 commented on #120
@palmtown Thanks for the feature request. Unfortunately, this is outside the scope of this plugin. You should be able to update all those texts and images in your fork and build it. We'd be more than happy to assist if you face any problem in the build process.

[2020-12-05 13:06] #120 closed

[2020-12-05 13:10] harshilsharma63 commented on #115
@iddelacruz you should be able to see some error on either the Mattermost side or the BBB side. Can you share what error you're getting in those logs?

[2020-12-05 13:18] harshilsharma63 commented on #111
@afle by the description of the error, I'm guessing you're getting this on the Mattermost mobile app? If that's the case, then, unfortunately, you cannot use this plugin on Mattermost mobile app. It's a limitation on Mattermost side and nothing the plugin can do.

If it;'s on the webapp side, then you should be getting some errors in your browser console. If you could share those, it would help in

[2020-12-05 13:21] harshilsharma63 commented on #110
@tclavier we recently added the feature that makes sure only the meeting creator becomes the meeting moderator (see screenshot below)

<img width="761" alt="Screenshot 2020-12-05 at 6 49 52 PM" src="https://user-images.githubusercontent.com/18575143/101244139-ab7a3880-372a-11eb-9654-16622c53b5e0.png">

With this feature, I think it will work for you if you created the BBB meeting directly in the c

[2020-12-05 13:23] harshilsharma63 commented on #103
@cyamal1b4 @iddelacruz this bug was resolved the in the latest plugin release. I recommend you upgrade to the latest release.

Do let me know if you still face the issue.

[2020-12-05 13:34] harshilsharma63 commented on #99
@greatfireball what exactly do you mean by republishing?

[2020-12-05 16:41] javanaut-de commented on #33
It seems that the classic app isn't working with the current version of the server (team edition) anymore. It is throwing an error message mentioning a possible SSL problem:

"Mattermost server unreachable, incompatible or SSL is not properly configured."

Can anyone confirm this or did my reverse proxy go nuts or something?

Greetings

[2020-12-06 20:15] tclavier commented on #110
I will test, but i thinks that will close this issue :-)

[2020-12-06 22:58] jasonblais commented on #33
@javanaut-de Would this forum thread be helpful for your use case? (a similar error message was reported there) https://forum.mattermost.org/t/solved-android-app-connect-to-mattermost-team-link/1417/32

[2020-12-07 01:31] harshilsharma63 commented on #110
@tclavier 👍

[2020-12-07 02:51] harshilsharma63 opened #128 "Fix BBB meeting popup not opening"

[2020-12-07 16:58] ahmaddanialmohd commented on #118
Hello, @harshilsharma63

Another user just reported this on the [Mattermost Forum](https://forum.mattermost.org/t/bigbluebutton-sends-data-to-blindsidenetworks/10788/3) as well.

I'll double confirm the version that the affected user is on.

[2020-12-10 13:55] ahmaddanialmohd commented on #118
Hello, team. I would like to update that the version of Mattermost Server is 5.25.2 and the version of the plugin is 2.1.0.

[2020-12-15 01:12] harshilsharma63 commented on #103
@iddelacruz I'm closing this issue for now. Feel free to re-open if you still encounter the bug.

[2020-12-15 01:12] #103 closed

[2020-12-15 01:21] harshilsharma63 commented on #118
@ahmaddanialmohd please upgrade to Mattermost plugin v2.2.0. This issue was already resolved.

[2020-12-15 01:24] harshilsharma63 commented on #110
@tclavier I'm closing this issue for now as the new feature resolves it. Feel free to re-open if you face any issue with the plugin using that feature.

[2020-12-15 01:24] #110 closed

[2020-12-15 01:25] harshilsharma63 commented on #111
@afle any update on this?

[2020-12-19 00:37] harshilsharma63 commented on #118
@ahmaddanialmohd I'm closing this issue for now. If you still face this with plugin version v2.2.0, feel free to re-open.

[2020-12-19 00:37] #118 closed

[2020-12-19 00:38] harshilsharma63 commented on #115
@iddelacruz I'm closing this one for now and this is an issue on BBB server-side, not on the Mattermost plugin.

[2020-12-19 00:38] #115 closed

[2020-12-19 00:39] harshilsharma63 commented on #111
@afle I'm closing this one for now. If you face the issue on the desktop browser or the Mattermost desktop app, feel free to re-open this.

[2020-12-19 00:39] #111 closed

[2020-12-23 09:11] Imkerix opened #130 "Plugin does not always load up bigbluebutton (http 405)"
We believe to have found a problem with the loading of the plugin in Mattermost, but first some stats of our setup:

## Setup

[code]

## Description

We started to take a more in depth look because we have somewhat of a slack joint failure here.
It appears that if you connect to our big blue button setup first and open up Mattermost afterwards
everything works perfectly well, but if you open Matt

[2020-12-31 23:47] #128 closed

[2021-01-01 00:18] harshilsharma63 commented on #130
@Imkerix thanks for reporting the issue.

The URL you mentioned for `ismeetingrunning` doesn't look correct. It should be like this - `https://mattermost.example.com/plugins/bigbluebutton/ismeetingrunning`. Specifically, it is `<Mattermost site URL>/plugins/bigbluebutton/ismeetingrunning`.

Can you please verify if your Mattermost site URL is configured correctly?

[2021-01-05 13:48] Imkerix commented on #130
Hello @harshilsharma63, thanks for looking into this!

Our siteurl is currently set to http://mattermost.example.com which is the same URL we use to access Mattermost behind it´s Apache2 Reverseproxy mentioned above.
While debugging I got the feeling, that the `ismeetingrunning` URL tries to represent the channel which contains the Meeting Post `/bbb`... Is that a wrong assumption and there should

[2021-01-11 17:16] lyfenwebos commented on #40
Hello!
This feature gets +1 request from me. Would be nice to have it!

[2021-01-19 12:17] H-B-Schmidt opened #131 "'Start BBB Meeting' line sometimes not visible in user-profile popover"
Mattermost 5.30/5.31 - BBB Plugin 2.2.0

If I click on a username at the bottom of the screen for the first time, the user profile pop window is placed so that the 'Start BBB meeting' line is is not visible. If I click again the popup window is placed correctly.

This is true for both firefox and chrome so it seems to not be browser related. Not sure wether this is a BBB plugin or mattermost probl

[2021-01-19 13:38] TI-Admin opened #132 "Start BBB Meeting fails on first try"
Mattermost 5.30/5.31 - BBB Plugin 2.2.0

If I click 'Start BigBlueButton Meeting' for the first time the page refreshes but nothing else happens. On the second try the 'Join Meeting' options does appear finally and the meeting can be joined.

There is an error message shown in the Chrome console for the failed attempt:

![grafik](https://user-images.githubusercontent.com/5337950/105041908-dd89f480

[2021-01-21 11:10] Imkerix commented on #130
Here is an update from me.

While I didn't find a solution, I have found more clues to share.
You were quite right. The base problem appears to be, that some sessions just don't load the right siteURL in time and end up having `undefined` as SiteURL.
Everything else that follows seems to happen because of this. I worked myself down to this statement:

`var siteURL = store.getState().entities.gener

[2021-02-06 19:45] parsa25eng commented on #36
Hi Fred, I have almost the same problem.  I could find a very strange pattern for 1007 error. For the first time when I want to join a session and the browser asks for microphone access, everything is normal. But for next times, the 1007 error is appeared unexpectedly.
every time I reset the permissions, everything has returned to the normal situation but after that, the 1007 error is appeared.
li

[2021-03-01 10:10] TI-Admin opened #133 "Plugin no longer working with Chrome Browser and latest Mattermost version"
Mattermost Version: 5.32.1  - BBB Plugin v2.2.0

The BBB plugin is no longer working with the Chrome Browser. No option to start a session is displayed.

With Firefox I have to try multiple times to get a session started as reported here #132

When I first select 'Start BBB meeting' the browser page refreshes but I get no 'Start Session' option displayed.
I have to do this multiple times to finall

[2021-03-03 10:37] TI-Admin commented on #133
Sorry, this was a misconfiguration of plugin permissions on my side.

[2021-03-03 10:37] #133 closed

[2021-03-03 12:21] TI-Admin commented on #132
I reinstalled v2.1 of the plugin and the problems seems to be gone. I can start meetings on the first try.

Any help to also get v2.2 working is appreciated.

[2021-03-24 16:18] driehle commented on #27
@cseeger-epages The reason is that Rambox (and probably Wavebox as well) uses a User Agent withouth the "Electron/" keyword inside the service web views. I solved this by adding the following custom code the the service configuration when using Rambox:

[code]

This overrides the user agent inside the Mattermost web view and makes the "Join meeting" button functional when using Rambox. If Wavebox

[2021-04-23 04:50] andzejsp commented on #18
Im having the same problem.. Looks like they dropped the support for bbb

[2021-04-29 15:53] TI-Admin opened #146 "Plugin not loading."
I'm using Mattermost E10 v5.34.2 and can't load the v2.2.2 BBB plugin. I get a 403 error as shown in the chrome browser console

![grafik](https://user-images.githubusercontent.com/5337950/116580144-604c0680-a913-11eb-81c3-4072d8a66721.png)

The plugin shows as running in the Mattermost system console and there is no error in the Mattermost logfile.

Plugin v2.1 is working properly as expected! An

[2021-04-30 07:58] TI-Admin commented on #146
Sorry, again a problem on my side. My nginx proxy settings did cause this.

[2021-04-30 07:58] #146 closed

[2021-04-30 08:00] TI-Admin commented on #132
Not sure why 2.1 did work but I got v2.2 also working with a different nginx proxy setting.

[2021-04-30 08:00] #132 closed

[2021-05-03 04:35] harshilsharma63 opened #147 "Fix bug where non-logged users cannot get the plugin to work after logging in"

[2021-05-10 11:04] Joshndroid commented on #66
Interesting... Apologies to bring up an old thread but i had set up bigbluebutton from the docs and have the mattermost plugin working... i then thought i would get rid of the demo stuff and install greenlight... once it did that the plugin broke, giving me 404 errors. I tried removing the proxy auto route to /b, which didn't work. I tried further combinations within the plugin; adding the /b to U

[2021-05-10 11:15] Joshndroid commented on #57
Any work being done in this... 6months + later and no real change

[2021-05-26 01:14] #147 closed

[2021-05-30 12:06] harshilsharma63 commented on #131
@H-B-Schmidt if I got this right, you're referring to this issue -

<img width="364" alt="Screenshot 2021-05-30 at 5 35 42 PM" src="https://user-images.githubusercontent.com/18575143/120103492-772d8500-c16d-11eb-9831-98a015763a47.png">

If yes, this is a Mattermost issue and not a plugin issue. I'll look into it though.

[2021-05-30 12:51] harshilsharma63 commented on #131
@H-B-Schmidt can you share a GIF shows what's happening with your setup? I think the popup? I double checked and I see the popover correctly adjusting for viewport boundary.

[2021-05-30 12:53] harshilsharma63 commented on #130
@Imkerix this issue is fixed in [v3.0.0 release](https://github.com/blindsidenetworks/mattermost-plugin-bigbluebutton/releases/tag/v3.0.0). Please upgrade to the latest release and let us know if you still face this.

[2021-05-30 12:53] #130 closed

[2021-05-30 13:02] H-B-Schmidt commented on #131
I can't recreate it so it must have been fixed by some update.

[2021-05-30 13:02] #131 closed

[2021-05-30 13:10] harshilsharma63 commented on #89
@ZidaneCA are you still facing the issue?

[2021-05-30 13:12] harshilsharma63 commented on #90
@JulianOliver can you upgrade to the latest v3 release? It offers performance and stability improvements. Feel free to re-open this issue if you still face the problem.

[2021-05-30 13:12] #90 closed

[2021-05-30 23:26] harshilsharma63 commented on #88
@greatfireball feel free to create a pull request.

@Be-El the plugin doesn't fetch the recordings, the BBB server pushes the recordings to the plugin.

[2021-05-31 11:04] harshilsharma63 commented on #84
@flowy2020 syncing chat is out of scope of this plugin but we are adding a link in Mattermost to BBB Public Notes. Here's a sneak peak-

<img width="805" alt="Screenshot 2021-05-31 at 4 34 43 PM" src="https://user-images.githubusercontent.com/18575143/120184020-1d40c400-c22e-11eb-8794-d255961642b8.png">

[2021-06-03 12:07] H-B-Schmidt opened #152 "Wrong session length and attendee displayed after session"
![grafik](https://user-images.githubusercontent.com/5337950/120641900-7f8b0600-c474-11eb-9f57-c47fc2b9e8f1.png)

Mattermost 5.35.2 with BBB Plugin 3.0

I started a session and endet it soon after, being the only attendee.

Meeting length is a bit off and shouldn't I be listed as attendee?

[2021-06-04 05:03] harshilsharma63 commented on #152
@H-B-Schmidt yeah, I noticed this myself. I'll be fixing this one.

[2021-06-07 09:54] Imkerix commented on #130
@harshilsharma63 Today we have installed Version 3.0.0 and can confirm that our issue is fixed.

Thank you very much for your time and effort in working on this extension :+1:

[2021-06-07 09:55] harshilsharma63 commented on #130
@Imkerix hurray!

[2021-06-08 16:52] ZidaneCA commented on #89
@harshilsharma63 after a long time of trying and failing, I just decided to leave it and go for some version which seemed to work.

[2021-06-08 23:38] harshilsharma63 commented on #81
@cadavre we'll be updating the icon to look like this one-

<img width="544" alt="Screenshot 2021-06-09 at 5 07 47 AM" src="https://user-images.githubusercontent.com/18575143/121271135-a5833100-c8e0-11eb-896c-b646757afe58.png">

[2021-06-15 23:34] #81 closed

[2021-06-15 23:49] harshilsharma63 commented on #74
We've added a link to shared notes in Mattermost. This is how it looks-

<img width="1002" alt="Screenshot 2021-06-16 at 5 19 00 AM" src="https://user-images.githubusercontent.com/18575143/122137487-5dc15400-ce62-11eb-8ab4-75330f210afe.png">

[2021-06-15 23:50] harshilsharma63 commented on #74
This is resolved by #155

[2021-06-15 23:50] #74 closed

[2021-06-17 11:03] split-brain-83 commented on #33
any chance to solve this issue? really appreciate any help on this.

[2021-06-17 11:22] Joshndroid commented on #33
This must just be dead... Seems to be the typical thing with some open source projects.. Just die as the issues pile up

[2021-06-17 12:17] split-brain-83 commented on #33
I can feel you. The root cause of this issue seems to be the plugins integration within the mobile app, which isn't finished yet. When this will get resolved, we can see the BBB meeting working.

[2021-06-17 22:56] jdauphant opened #156 "Crash on 5.36.0 with CollapsedThread activated"
If the threads panel is open, and I open a new left side pannel (like Recent Mentions
), I have this crash : (Mattermost app become blank)
![image](https://user-images.githubusercontent.com/1238254/122481935-eb6e8200-cfcf-11eb-800f-7bfa63924879.png)
I don't why the plugin is involved here.

How to reproduce :
1) active the collapsedthread beta fonctionnality in your personnal profil
2) open the ne

[2021-06-20 00:53] harshilsharma63 commented on #156
@jdauphant I;m successfully able to reproduce this bug. I'm looking into this.

[2021-06-20 10:28] #156 closed

[2021-06-20 10:31] harshilsharma63 commented on #156
@jdauphant this is fixed in v3.1.1 release - https://github.com/blindsidenetworks/mattermost-plugin-bigbluebutton/releases/tag/v3.1.1

[2021-06-20 10:37] jdauphant commented on #156
Thanks for your efficiency !

[2021-06-20 10:52] jdauphant commented on #156
@harshilsharma63 I have tested the new release, I confirm that the bug is fixed on my setup !
Have a good day !

[2021-06-20 10:58] jdauphant commented on #33
Maybe we can use the same API use by [Matterpoll](https://github.com/matterpoll/matterpoll) :
![image](https://user-images.githubusercontent.com/1238254/122671457-efb0c000-d1c6-11eb-8fec-c5b8de61046a.png)

[2021-06-20 11:25] harshilsharma63 commented on #156
@jdauphant awesome!

[2021-06-21 03:31] harshilsharma63 commented on #84
This has been added in v3.1.0.

[2021-06-21 03:31] #84 closed

[2021-06-21 03:33] harshilsharma63 commented on #80
Closing this as this seems resolved. Feel free to re-open.

[2021-06-21 03:33] #80 closed

[2021-06-21 03:37] harshilsharma63 commented on #33
Great idea @jdauphant . I'm exploring the possibility 👍

[2021-06-22 08:56] moschlar opened #158 ""Plugin failed to ServeHTTP" Errors with v3.1.1"
Hi there,

I just installed v3.1.1 and now I'm seeing lots of
[code]
What can cause this?

Regards,
Moritz

[2021-06-24 04:18] harshilsharma63 commented on #158
Hi @moschlar ,

seems like the plugin is crashing for you for some reason. Can you restart the plugin and monitor the logs to see why the plugin crashed in the first place?

[2021-06-24 20:13] moschlar commented on #158
There's no error before the first line of that error...

Just the usual many lines of
[code]

:thinking:

[2021-06-24 20:17] moschlar commented on #158
Ah wait, loglevel was not `DEBUG`...

Now I got:
[code]

[2021-06-24 20:28] moschlar commented on #158
Deleting all the `pluginid=bigbluebutton` from the database makes the issue go away for now...

[2021-06-27 11:17] harshilsharma63 commented on #33
A quick teaser of what's coming up-

https://user-images.githubusercontent.com/18575143/123542427-3eca9800-d767-11eb-8eb4-ef3eb1418b10.mp4

[2021-06-28 07:28] jdauphant commented on #33
nice ^^ :rocket:

[2021-06-29 09:42] moschlar commented on #158
@harshilsharma63 are there any more steps I can perform to help you debug the problem?

[2021-07-03 12:19] moschlar commented on #158
I deleted all rows for the plugin from the key value store in the database and for some minutes now it seems to be running fine...

[2021-07-03 18:19] moschlar commented on #158
And again - something with the recordings goes terribly wrong after some time:

[code]

[2021-07-05 01:51] harshilsharma63 commented on #158
@moschlar when you deleted the rows from the database, did you also restart the plugin?

Let's schedule a quick call to debug this. I've sent you an email for the same. Please check it out.

[2021-07-05 08:17] moschlar commented on #158
@harshilsharma63

Yes, I disabled it beforehand, restarted Mattermost, deleted the rows, and then enable it again.

[2021-07-06 11:44] moschlar opened #159 "New channel header icon looks weird"
It looks like some blue colored background is missing or something like that:

![Screenshot from 2021-07-06 13-42-16](https://user-images.githubusercontent.com/228095/124594405-4832bf00-de4f-11eb-8d29-69c8e8707725.png)

Don't know why. This is on Mattermost Version: 5.35.3

[2021-07-07 03:57] harshilsharma63 commented on #158
@moschlar please use the latest [v3.2.0 release](https://github.com/blindsidenetworks/mattermost-plugin-bigbluebutton/releases/tag/v3.2.0) until we fix the cluster issue.

[2021-07-07 04:50] moschlar commented on #158
I just installed it - let’s see how it goes!

[2021-07-07 07:59] moschlar opened #161 "Add config option to disable recording functionality at all for new meetings"
In d3072eed0d77aa1752b2a84f11e59206554393c1, the option added (as a workaround) only skips processing of recordings by the Mattermost plugin - requiring the BBB server to process the recording anyways and may lead the user confused because in BBB, it looks like he successfully created a recording, but he can't access it afterwards.

I would suggest, that there is (only or additionally) an option t

[2021-07-07 08:00] moschlar opened #162 "Maybe have two different "create meeting" options in the channel header menu"
One with recordings enabled (if the admin configured it to be allowed) and one explicitly with recordings disabled.
(This extends on my  suggestion in #161)

[2021-07-07 09:42] moschlar commented on #158
Looking good so far!

[2021-07-07 18:49] moschlar commented on #159
Ah, it seems to be "optimised for dark mode" :-D

[2021-07-08 03:46] harshilsharma63 commented on #159
@moschlar This will be fixed this week. Thanks for reporting!

[2021-07-12 05:06] harshilsharma63 commented on #159
@moschlar this is fixed in [v3.2.1](https://github.com/blindsidenetworks/mattermost-plugin-bigbluebutton/releases/tag/v3.2.1).

[2021-07-12 05:06] #159 closed

[2021-07-19 01:19] harshilsharma63 commented on #158
@moschlar what version of Scalite are you running?

[2021-07-20 18:59] moschlar commented on #158
@harshilsharma63 I think that's 1.1.5.1 but maybe @christmart can clarify on that

[2021-07-20 19:13] moschlar commented on #82
For the time being, you can now (as of https://github.com/blindsidenetworks/mattermost-plugin-bigbluebutton/releases/tag/v3.2.0) disable processing recordings in the plugin, so the recordings won't show up.

That's not sufficient though, especially from a data protection perspective.

[2021-07-20 19:16] moschlar commented on #79
I suppose it is currently the case that only moderators can start/stop recordings - and there is a (system config) option to set whether normal users or only team admins in MM become moderators in BBB.

My theory would need to be double-checked though and maybe the docs (on the settings page) should include this.

[2021-07-20 19:18] moschlar commented on #33
Since this is now released as https://github.com/blindsidenetworks/mattermost-plugin-bigbluebutton/releases/tag/v4.0.0 - this issue can be considered done, right?

[2021-07-20 19:23] moschlar commented on #161
Closing this in favor of #82

[2021-07-20 19:23] #161 closed

[2021-07-20 19:24] moschlar commented on #162
See #82 also.

[2021-07-20 22:52] harshilsharma63 commented on #33
@moschlar yes absolutely 🎉

[2021-07-20 22:52] #33 closed

[2021-07-21 00:59] ffdixon commented on #33
Great work @harshilsharma63

[2021-07-23 23:51] harshilsharma63 commented on #158
@christmart any idea?

[2021-07-23 23:52] harshilsharma63 commented on #89
Latest verion of the plugin?

[2021-07-23 23:53] harshilsharma63 commented on #82
This should be easy to implement. I'll try this out.

[2021-07-23 23:55] harshilsharma63 commented on #162
@moschlar I'm trying to understand its usecase and what problem it solves. Can you help?

[2021-07-23 23:58] harshilsharma63 commented on #29
I'll check this out.

[2021-07-26 18:07] nough commented on #78
I believe you can close this issue in the latest version.

[2021-07-26 18:08] nough commented on #79
I believe this issue should be closed, as @moschlar said, you can now have only meeting creator be moderator / recorder.

[2021-07-26 18:11] nough commented on #162
sometimes companies / meetings don't want even the chance that a meeting will be recorded. I think this would have to interact with the bigbluebutton backend to ensure that the files are not saved at all (as with conventional bbb recording functionality).

Use case 1: Company is holding a meeting where sensitive information is being discussed, that they do not want stored on a server.

Use case 2:

[2021-07-26 18:41] nough opened #168 "Version 4.0.1 has too many clicks to join a meeting"
In the latest full release of the plugin, users click "join meeting", and then get a private message (visible only to you) with the link to join the meeting. This adds an extra step and creates confusion for certain users, e.g.
- User 1 creates a meeting
- User 2 sends a long message
- User 3 clicks "join meeting", then doesn't realise they have to scroll down to get to the link.

[2021-07-26 19:42] moschlar commented on #162
Maybe it would be ideally like this: there would be an advanced version of the `/bbb` command where you can change all settings that bbb offers (like Greenlight does with individual room settings) and the two we mentioned here just being "shortcuts" for the most often desired states of the recording toggle.

[2021-07-26 20:54] nough commented on #162
Maybe, yes.

Unfortunately I think this issue isn't something that is currently possible
with the way that bigbluebutton is structured. It currently requires a
change to config files and a reload of the server to change this.

On Mon, 26 Jul 2021, 20:42 Moritz Schlarb, ***@***.***> wrote:

[2021-07-27 00:58] harshilsharma63 commented on #82
This has been implemented and will be released at the end of this week or the start of next week.

I've added a plugin config to allow or disallow the meeting recording option, as pointed out by @mkuron (thanks!).

**The plugin config-**
<img width="858" alt="Screenshot 2021-07-27 at 6 26 21 AM" src="https://user-images.githubusercontent.com/18575143/127078036-346e09cd-d175-4066-950d-5de183106a3d.

[2021-07-27 00:58] #82 closed

[2021-07-27 14:29] ZidaneCA commented on #89
Haven't tried yet the latest. Will do that and let you know @harshilsharma63

[2021-08-04 00:32] harshilsharma63 commented on #82
Disabling the view recording button won't make any difference. The way that button works is by triggering a Mattermost search for `#recording` in messages. A user can themselves make the same search without the button.

[2021-08-04 00:38] harshilsharma63 commented on #162
The meeting record settings are managed on a per-meeting basis on BBB. We can definitely have two buttons - one for allow and one for preventing recording. I'll work on this for v4.2

[2021-08-04 00:40] harshilsharma63 commented on #168
Hmmm, I understand the pain point here. We cannot avoid the high level approach, which is click on a button to get the joining link, then open the joining link. But I have a few ideas about making the join link easy and quick to access. Let me try it out and I'll share the prototype here.

[2021-08-04 00:46] harshilsharma63 commented on #79
I'll verify this and close the issue accordingly.

[2021-08-04 07:45] nough commented on #168
Why was this implemented? Versions of the plugin before 4.0 don't require a
second click, they just join you to the meeting directly.

On Wed, 4 Aug 2021, 01:40 Harshil Sharma, ***@***.***> wrote:

[2021-08-04 08:08] harshilsharma63 commented on #168
@nough it's needed for supporting Mattermost mobile app. Before v4 you weren't able to join meeting from the mobile app. Now you can.

[2021-08-05 07:53] nough commented on #162
Ah yes - I suppose you could prevent someone from clicking record using the
individual settings, but as far as I'm aware, if recording is on at the
server level, the meeting will still be saved to storage.

So an admin could still reprocess the recording, or a spook/crook could
gain access to the server and steal the "unrecorded" recording.

Admittedly this is probably outside of the realm of most

[2021-08-05 07:55] nough commented on #168
Ok, thanks for the update. We don't use the mobile app, so weren't aware of
the issue.

May I suggest an addition to the changelog that states the change?

On Wed, 4 Aug 2021, 09:08 Harshil Sharma, ***@***.***> wrote:

[2021-08-05 12:06] harshilsharma63 commented on #168
No worries, mobile access was a huge demand :)

[2021-08-05 12:07] harshilsharma63 commented on #162
If such a user has gained access to your servers, you have bigger problems 😛

[2021-08-05 12:14] nough commented on #162
I fully agree with the proposed solution.

Oh of course. But from a "secure by design" perspective, why would you risk recording something that you definitely don't want to keep? It's just an added risk, which could combine with other procedural failures to lead to a loss of Confidentiality.

The background issue is the BBB architecture that records everything, which also wastes drive lifetime.

[2021-08-05 20:02] moschlar commented on #162
@nough but since we now have the basic possibility of completely disabling recordings at all (5638c080ea143522fb2580db5a3b942644357ba1) the implementation for this issue would surely mirror that so that the meetings that are started without recording functionality aren't also recorded by BBB at all! :wink:

[2021-08-05 21:31] nough commented on #162
Woah, I guess I've not been keeping up with the updates.

On Thu, 5 Aug 2021, 21:02 Moritz Schlarb, ***@***.***> wrote:

[2021-08-24 03:06] harshilsharma63 commented on #168
@nough the idea I had in mind doesn't work. For now, this is the best possible approach which covers desktop and mobile.

[2021-08-24 03:06] #168 closed

[2021-08-24 22:43] justvanbloom opened #172 "api.post.do_action.action_integration.app_error"
MM 5.38.1:

when i would create a meeting after join click i get:
{id: "api.post.do_action.action_integration.app_error", message: "Fehler bei Aktions-Integration.",…}
detailed_error: ""
id: "api.post.do_action.action_integration.app_error"
message: "Fehler bei Aktions-Integration."
request_id: "xxx......."
status_code: 400

[2021-09-05 05:50] H-B-Schmidt opened #173 "Plugin fails to load a file"
There is some error in the chrome console while loading the Mattermost v5.38.2 page with BBB plugin v4.02:

![grafik](https://user-images.githubusercontent.com/5337950/132116848-37baced1-3fb3-442f-8825-b90afa6c2194.png)

[2021-09-06 02:10] harshilsharma63 commented on #162
Upcoming changes sneak peek-

<img width="318" alt="Screenshot 2021-09-06 at 7 39 33 AM" src="https://user-images.githubusercontent.com/18575143/132150717-a8759a84-7ebf-4a08-915c-dff8cc0e0afc.png">

[2021-09-06 02:13] harshilsharma63 commented on #172
Hi @justvanbloom ! Can you check the error in server logs? There should be a more detailed reason in there. Please set the server log level to debug, generate the error and then share the corresponding server logs. You can share the logs privately in email (link in my profile) if that's more comfortable for you.

[2021-09-11 07:12] #162 closed

[2021-09-13 08:32] moschlar commented on #162
@harshilsharma63 Can you add the built plugins to the assets for the release, please?
Thanks a lot!

[2021-09-13 09:13] harshilsharma63 commented on #162
@moschlar oops, I missed it. Added now.

[2021-09-13 10:04] moschlar commented on #162
@harshilsharma63 No Problem! Thanks!

[2021-09-13 10:39] rabser opened #176 "About recording's GUI"
I was wondering why the plugin GUI shows links and strings about recordings when the recordings are disabled by the admin. I think should be better do not to show anything about recordings when they are disabled at all, so users will not ask the admin to enable them...

[2021-09-28 16:59] cube48AG opened #178 "connection error to bbb"
**Hi together,
i try to get the plugin working but with no success. The bbb with Greenlight is working.
The Mattermost log shows the following: Perhaps someone has an idea what i can look for.
THX**

 Sep` 28 16:37:59 team mattermost[323]: {"level":"debug","ts":1632847079.8733804,"caller":"plugin/hclog_adapter.go:54","msg":"\t/Users/harshilsharma/codebase/go/src/github.com/blindsightnetworks/matte

[2021-10-01 07:35] thomas-mc-work commented on #172
Same problem here. These are my logs exactly from that end meeting event:

    {"level":"error","ts":1633073558.1786907,"caller":"mlog/log.go:251","msg":"Plugin failed to ServeHTTP, RPC call failed","plugin_id":"bigbluebutton","error":"unexpected EOF"}
    {"level":"error","ts":1633073560.2258608,"caller":"mlog/log.go:251","msg":"Plugin failed to ServeHTTP, RPC call failed","plugin_id":"bigbluebut

[2021-10-03 06:37] harshilsharma63 commented on #178
Hi @cube48AG , are you getting the error on performing a specific oprration?

[2021-10-03 06:39] harshilsharma63 commented on #176
@rabser thanks for the feature suggestion. I've queued this up for the next release.

[2021-10-03 06:48] harshilsharma63 commented on #172
@thomas-mc-work can you share the logs of time slightly before this? It looks like the actual error occurred before this.

[2021-10-07 12:16] thomas-mc-work commented on #172
Alright:

    {"level":"error","ts":1633073408.9649096,"caller":"mlog/log.go:251","msg":"Access to route for non-existent plugin","missing_plugin_id":"bigbluebutton","url":"/endmeeting","error":"plugin not found: bigbluebutton"}
    {"level":"error","ts":1633073411.1178493,"caller":"mlog/log.go:251","msg":"Access to route for non-existent plugin","missing_plugin_id":"bigbluebutton","url":"/joinmee

[2021-10-08 10:28] moschlar opened #182 "Protected Recordings in Scalelite"
Hi there,

Scalelite now offers a possibility to protect recordings (https://github.com/blindsidenetworks/scalelite/blob/master/protectedrecordings_README.md) by issuing limited-time single-use tokens for accessing the recordings.

It seems to me that the current architecture of this plugins handling of recordings would need to be changed fundamentally to fetch these recording links on-demand (and

[2021-10-08 20:01] atakancevk opened #183 "I got error when I try to join room externally"
I got error when I try to join room externally
Console:
Uncaught (in promise) SyntaxError: Unexpected token < in JSON at position 0

_Originally posted by @atakancevk in https://github.com/blindsidenetworks/mattermost-plugin-bigbluebutton/issues/171#issuecomment-939084654_

[2021-10-11 00:01] harshilsharma63 commented on #183
Hi @atakancevk by any chance was the plugin down at the time? Are you able to reproduce this bug consistently? If yes, can you share the Mattermost server logs when the error occurs?

[2021-10-18 13:09] nough opened #185 ""Meeting created" message tags the wrong user"
When creating meetings in a chat, the bigbluebutton bot sometimes tags the wrong user. Not posting image.
Assume we have two users:
Alice Jones
Alice Smith

[code]

[2021-10-21 01:32] harshilsharma63 commented on #185
@nough thanks for reporting this. Looks like the incorrect username is in the `Meeting created by` field, correct?

Can you share the two user's usernames? Feel free to send me an email (address in profile) if it's something you don't want to share in public

[2021-10-29 00:13] harshilsharma63 opened #188 "Clicking on view recordings should close the popup after opening the recordings list"

[2021-11-09 18:46] seventhsite opened #190 "CREATE MEETINGROOM FAILD"
Yes, with a mistake.
I installed a plugin, configure it with url and secret of my BBB on another server. BBB is working by itself. So, I have a button in mattermost chat, but when I push the "Join meeting" button nothing is happen. In logs I see:

`Nov 09 20:35:25 mattermost mattermost[698]: {"timestamp":"2021-11-09 20:35:25.777 +02:00","level":"error","msg":"CREATE MEETINGROOM FAILD: <Map><timest

[2021-11-10 07:06] seventhsite commented on #190
bigbluebutton plugin - 4.1.0
BigBlueButton Server 2.3.15
Mattermost release-6.0

[2021-11-11 15:50] vmakarenko opened #191 "Too verbose info level logging"
The `mattermost.log` is overflooded by messages like this:
[code]
Eg, `mattermost.log` has 201902 lines, **200921** of them are `"Successfully got recordings info"` messages.
System Console->Logging->File Log Level: "INFO"

[2021-11-12 10:38] H-B-Schmidt commented on #190
Did you configure the URL with /api tailing? Like https://my.bbb.com/bigbluebutton/api

[2021-11-17 14:04] danielberndt commented on #81
This change adds an extra barrier for non-tech savvy users (who only have one video integration available).

These folks likely aren't aware of big blue buttons branding and won't be able to recognise that the "b" icon leads them to a video call.

Is it worth opening an issue for this to ask for a settings option?

[2021-11-23 10:27] mppg99 commented on #190
Same issue with us. we tried several URL configurations with /api tailing and without. Even the demo URL (http://test-install.blindsidenetworks.com/bigbluebutton/api) isn't working...

[2021-11-30 01:11] harshilsharma63 commented on #190
@seventhsite @mppg99 can you verify that your Mattermost [SiteURL](https://docs.mattermost.com/configure/configuration-settings.html?highlight=siteurl) is configured correctly? I'm able to successfully create and join meetings with the default test-install URL and secret.

[2021-11-30 01:14] harshilsharma63 commented on #191
Agreed, it shouldn't be that verbose.

[2021-11-30 01:16] #191 closed

[2021-11-30 01:18] harshilsharma63 opened #195 "Create Meeting Failure"
Creating an issue on behalf of @mppg99

Original content -

[2021-11-30 01:20] harshilsharma63 commented on #190
@mppg99 I've created #195 to separately track your issue.

[2021-11-30 01:20] harshilsharma63 commented on #195
@mppg99 what error do you get? Can you verify your Mattermost SiteURL?

[2021-11-30 08:52] mppg99 commented on #195
@harshilsharma63 Live-URL test in Mattermost is working.

Error in Browser:
`/api/v4/posts/an856bk51ins3m6psy8oynw7te/actions/bigBlueButtonJoinMeeting:1 Failed to load resource: the server responded with a status of 400 (Bad Request)
fetch_etag.ts:39 POST https://.../api/v4/posts/an856bk51ins3m6psy8oynw7te/actions/bigBlueButtonJoinMeeting 400 (Bad Request)
u @ fetch_etag.ts:39
(anonymous) @ client

[2021-12-03 00:41] harshilsharma63 commented on #195
@mppg99 Looks like the response the plugin is receiving from BBB server is incorrect. I've created a build with additional logs for you to try and get more info from. Please try running the build attached below corresponding to your platform. [These](https://github.com/blindsidenetworks/mattermost-plugin-bigbluebutton/compare/create-meeting-err-debug?expand=1) are the changes made if you're curiou

[2021-12-03 00:55] harshilsharma63 opened #196 "Join Meeting UX Improvement"
Add post indicating that link generation is in progress. This will giver user assurance that the task is in progress.

[2021-12-03 00:55] #196 closed

[2021-12-08 00:56] harshilsharma63 opened #198 "Fix start meeting icons to support dark themes"
The icons in channel header buttons aren't readable in a dark theme. See attached screenshot for reference.
<img width="362" alt="Screenshot 2021-12-08 at 6 26 08 AM" src="https://user-images.githubusercontent.com/18575143/145129293-6ebe8218-a3d3-4d8f-8b45-8c62f5e2bbd1.png">

[2021-12-08 00:57] #198 closed

[2021-12-10 00:36] harshilsharma63 commented on #185
I think this is a common pain point for many users. I'll see if we can somehow open the link automatically on browser/desktop app.

[2021-12-10 01:22] harshilsharma63 commented on #183
Closing this as we discussed over email. This was fixed by #192 .

[2021-12-10 01:22] #183 closed

[2021-12-12 00:03] harshilsharma63 commented on #178
CLosing this for now. Feel free to re-open if you still face the issue.

[2021-12-12 00:03] #178 closed

[2021-12-12 00:18] harshilsharma63 commented on #173
It's a source map issue. It doesn't affect the application. I'll still look into it.

[2021-12-12 00:21] harshilsharma63 commented on #172
@thomas-mc-work the error `Access to route for non-existent plugin` meaks the plugin crashed a while back. Can you please try the latest version? Also can you please enable debug logs to see the error stacktrace?

If that doesn't work, we can quickly hop on a call and I can debug what's going on with your system.

[2021-12-12 00:24] harshilsharma63 commented on #99
Closing this for now. Feel free to re-open if you still face the issue.

[2021-12-12 00:24] #99 closed

[2021-12-12 00:27] harshilsharma63 commented on #95
@paulrolandw the issue is now resolved. Please try out the latest version of the plugin.

[2021-12-12 00:27] #95 closed

[2021-12-12 01:26] harshilsharma63 commented on #72
This is fixed in the newer releases. Please upgrade to the latest version. Feel free to re-open this issue if it still doesn't work for you.

[2021-12-12 01:26] #72 closed

[2021-12-12 01:27] harshilsharma63 commented on #71
@agrisvv @rottaran @grisuthedragon  this is fixed in the newer releases. Please upgrade to the latest plugin version. Feel free to re-open this issue if it still doesn't work for you.

[2021-12-12 01:27] #71 closed

[2021-12-12 01:29] harshilsharma63 commented on #68
This is fixed in the newer version.

[2021-12-12 01:29] #68 closed

[2021-12-13 23:22] #63 closed

[2021-12-13 23:31] harshilsharma63 commented on #58
Closing as stale. Feel free to re-open if you face the issue on the latest release.

[2021-12-13 23:31] #58 closed

[2021-12-13 23:32] harshilsharma63 commented on #57
@cadavre @moschlar @Joshndroid the join URL is unique per user. The plugin now supports mobile and also allows sharing a sharable URL with external users. This should resolve the issue.

[2021-12-13 23:32] #57 closed

[2021-12-13 23:32] harshilsharma63 commented on #50
Closing as stale. Feel free to re-open if you face the issue on the latest release.

[2021-12-13 23:32] #50 closed

[2021-12-13 23:35] harshilsharma63 commented on #26
Closing as stale. Feel free to reopen if you still face it in the latest release.

[2021-12-13 23:35] #26 closed

[2021-12-13 23:35] harshilsharma63 commented on #19
This should be fixed in the latest release. Closing this one for now. Feel free to reopen if you still face it in the latest release.

[2021-12-13 23:35] #19 closed

[2021-12-13 23:36] harshilsharma63 commented on #18
@andzejsp @a3nm can you verify that SiteURL is correctly set in Mattermost config?

[2021-12-14 00:21] a3nm commented on #18
Unfortunately after 1.5 years the Mattermost instance in question no longer exists, so I am unable to provide further input on trying to reproduce this issue. Thanks nevertheless!

[2021-12-14 04:41] andzejsp commented on #18
Yes URL was correct and now since its been a long time since I have posted the issue i cant verify because we have moved on to different options. Thank you

[2021-12-16 14:33] kfeeeeee opened #202 "Plugin-Errors client_rpc_generated"
Dear all,

I am currently testing mattermost (master branch) and was trying the plugin to integrate our BBB-Cluster. Unfortunately it doesn't work and I am not sure how to further identify the problem. The only errors I see are:

`
{"timestamp":"2021-12-16 15:16:59.601 +01:00","level":"error","msg":"RPC call OnDeactivate to plugin failed.","caller":"plugin/client_rpc_generated.go:33","plugin_id":"

[2021-12-17 01:08] #62 closed

[2021-12-17 01:45] #78 closed

[2021-12-21 00:02] harshilsharma63 commented on #202
Hi @kfeeeeee

The error you have attached is when the Mattermost server is shutting down the plugin. This is a knows error and doesn't affect the working of the plugin.

Can you try the following steps to find the actual error-

1. Enable the plugin. Make sure the BBB icon shows up in the channel header (top right).
2. Set file log level to `debug`.
3. Execute the slash command `/bbb`. This will c

[2021-12-21 09:14] thomas-mc-work commented on #172
Yes, it's working now. Thank you, @harshilsharma63 !

[2021-12-21 13:48] thomas-mc-work commented on #172
I'm sorry to say that the problems still persists :-(

Here are some log lines around the time of the occurrence. I hope this helps. If not, I'm happy to provide any support!

    {"timestamp":"2021-12-21 13:43:40.577 +01:00","level":"error","msg":"Plugin failed to ServeHTTP, RPC call failed","caller":"plugin/client_rpc.go:426","plugin_id":"bigbluebutton","error":"unexpected EOF"}
    {"timestamp"

[2021-12-23 11:34] defnull opened #204 "Meetings with no recordings polled forever."
It looks like meetings that are polled for recordings but to not have any, are never removed from the recording waiting list and polled forever.

https://github.com/blindsidenetworks/mattermost-plugin-bigbluebutton/blob/d65cd7f68d157f031eeee59dbbdbb5d593956f35/server/responsehandlers.go#L96-L101

Meetings are only removed from the waiting list if `Meeting.LoopCount > 144` or if there are recording

[2021-12-23 14:09] kfeeeeee commented on #202
Dear @harshilsharma63 ,

Thanks for your reply. I just checked and it turns out that when using the/bbb command everything works as expected. It seems that triggering the command with the upper right button just doesn't work.

KR

[2021-12-26 04:12] harshilsharma63 commented on #202
@kfeeeeee can you inspect in the browser's network tab what XHR request is sent on clicking the channel header button and what is the response? Also what BBB plugin version are you on?

[2021-12-26 11:25] harshilsharma63 commented on #204
Oh damn! That's a bug oversight on my part. This will be fixed ASAP. Thanks for reporting this 👍

[2021-12-28 01:08] #204 closed

[2021-12-29 01:09] harshilsharma63 commented on #172
@thomas-mc-work would you be willing to hop on a call so I can see what's happening with the plugin? Please send me an email (address in profile) and we'll schedule one.

[2021-12-29 01:26] harshilsharma63 commented on #198
After the fix -
<img width="327" alt="Screenshot 2021-12-29 at 6 56 31 AM" src="https://user-images.githubusercontent.com/18575143/147618770-fb51559b-5b04-4102-97b5-56dde5c7d30a.png">

[2022-01-03 15:15] mppg99 commented on #195
sorry for my late reply and thanks a lot for providing the build. because of this, we were able to find the bug. we had a space in the API link, which was due to a space in the scheduling strategy setup in bbb@scale... weird... because of this Mattermost wasn't able to create the room.

Issue can be closed.

[2022-01-07 01:12] harshilsharma63 commented on #195
@mppg99 I'm glad the issue is resolved for you!

[2022-01-07 01:12] #195 closed

[2022-02-01 12:38] thomas-mc-work commented on #172
Thank you very much for taking the time for the debugging session, Harshil! :heart:

[2022-02-04 15:42] taupasse opened #206 "Error on plugin activation. Mattermost 5.35.4"
Hello,

when i try to activate the plugin, it seems to work in system console, but nothing happens in frontend.
I have the bigbluebutton icon on the top right, but submenu is almost empty, not corresponding to the chosen options in plugin configuration.

In debug log :

`{"level":"debug","ts":1643986698.0813618,"caller":"plugin/hclog_adapter.go:52","msg":"starting plugin","plugin_id":"bigbluebutto

[2022-02-04 15:47] taupasse commented on #206
I can add that /bbb command is not working. It says that command was not found.

[2022-02-07 12:18] thomas-mc-work commented on #195
Maybe it would be good to execute a testing request to the API endpoint once the input field has lost focus. That'll allow the user to receive an immediate feedback. There seem to be the same problems from time to time with some users.

[2022-02-07 12:24] thomas-mc-work opened #207 "Simplify meeting creation process"
**Describe the bug**

Not a bug, rather a suggestion: Currently, I'm required to click twice without having any other option to start a meeting (as long as recordings are disabled). IT would be nice to omit the second step and start the meeting immediately.

**Screenshots**

- first click: the round button
- second click: "Start New Meeting"

![image](https://user-images.githubusercontent.com/6542

[2022-02-07 12:32] thomas-mc-work opened #208 "UX: Join meeting"
## Situation

When a user wants to join a meeting two click are required:

![image](https://user-images.githubusercontent.com/6542498/152788152-e21e5fa2-6549-4fcc-83d1-4443ead9a965.png)

Clicking the first marker leads to the second one being shown. Then the containing link ("here") has to be clicked.

Wouldn't it be possible to join directly by clicking the "Join Meeting" button? Maybe having a l

[2022-02-28 01:36] harshilsharma63 commented on #208
Thanks for the suggestion @thomas-mc-work. I'm taking a look.

[2022-03-23 23:49] #207 closed

[2022-03-27 23:52] harshilsharma63 commented on #206
@taupasse did you try the latest v4.3.1?

[2022-03-27 23:54] harshilsharma63 commented on #202
@kfeeeeee can you try the latest v4.3.1?

[2022-03-28 00:01] #18 closed

[2022-03-28 00:02] harshilsharma63 commented on #29
The ability to invite an external user to the meeting is already added. Closing this one.

[2022-03-28 00:02] #29 closed

[2022-03-28 00:02] #31 closed

[2022-03-28 00:11] harshilsharma63 commented on #34
Please re-open the issue if you still face the problem.

[2022-03-28 00:11] #34 closed

[2022-03-28 00:14] harshilsharma63 commented on #61
This is fixed now. We no longer handle meeting data in memory and use mutex locked access to KV store.

[2022-03-28 00:14] #61 closed

[2022-04-01 10:10] lexxxel opened #212 "Can't create Call: XML PARSE ERROR"
**Describe the bug**
Can't create Call: Mattermost stuck with generating link:

Mattermost Server log:
[code]

BBB Docker log:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Install Plugin as described in the README.md
2. Try to Call someone
3. click on Join button

**Expected behavior**
The call to work

**Screenshots**
![image](https://user-images.githubusercontent.com/5159138/1612

[2022-04-01 11:38] lexxxel commented on #212
It turned out to be a bug in bbb-docker [see here](https://github.com/bigbluebutton/docker/issues/84). The API URL was wrong

[2022-04-01 11:38] #212 closed

[2022-04-19 12:36] thomas-mc-work commented on #208
Would you accept donations to accelerate certain issues?

[2022-04-20 04:00] harshilsharma63 commented on #208
Hi @thomas-mc-work ! I'm glad you considered this project for donations :) but it's not really needed.

This is a bit tricky to implement without causing other annoying issues. I have just one part of the implementation to figure out. Expect this to be done and released in about 2 weeks from now.

[2022-04-21 10:47] thomas-mc-work commented on #172
For this has solved the problem and this issues could be closed.

[2022-04-21 10:56] thomas-mc-work opened #214 ""End Meeting" only for the creator"
**Describe the bug**

Maybe not exactly a bug, but rather a confusion. User A creates a meeting. User B sees the entry in the chat, including the button that says "End Meeting". When User B clicks on it, then he receives this message:

**To Reproduce**

1. User A creates a meeting
2. User B sees the entry in the chat, including the button that says "End Meeting"
3. User B clicks on it, then he rec

[2022-05-06 00:00] #208 closed

[2022-05-06 00:10] harshilsharma63 commented on #208
Hi @thomas-mc-work The feature has been implemented for v4.4. I have the RC published here - https://github.com/blindsidenetworks/mattermost-plugin-bigbluebutton/releases/tag/v4.4.0-rc1. Would appreciate if you can give it a try and share any feedback you might have

[2022-05-06 09:09] thomas-mc-work commented on #208
I'll test it immediately.

[2022-05-11 11:11] thomas-mc-work commented on #208
It works perfectly, thank you!

[2022-05-11 11:11] thomas-mc-work commented on #207
Looks good, thank you!

[2022-05-17 23:07] harshilsharma63 commented on #208
Thanks for checkout it out @thomas-mc-work !

[2022-06-15 14:28] AleksandrMikoshi opened #220 "window mattermost"
Hello.
I would like to ask a question:

When calling in MM, in the invitation to the call - a link and a button.
When you click on the button, it transfers to the browser to the call, and when you click on the link, an additional MM window opens with a meeting.
Is it possible to do something when you click on the button, an additional window opens, and in this case the link can be removed.

**Scre

[2022-06-16 01:25] solutionall opened #221 "Does it work on nginx proxy pass?"
I have a subdomain, and port forwared from router to my ip to server (ubuntu 18 with nginx) then I configured my 'default' conf as

`
server {
    listen 443 ssl http2;
    server_name bbb.MYDOMAIN.net;

    client_max_body_size 2048M;

    add_header X-Frame-Options "SAMEORIGIN";
    add_header X-XSS-Protection "1; mode=block";
    add_header X-Content-Type-Options "nosniff";

    charset utf-8;

[2022-06-18 10:15] harshilsharma63 commented on #220
HI @AleksandrMikoshi !

The purpose of having the link there is so you can copy it and share it with someone outside your Mattermost organization. For example, if you wanna have a BBB call with a client, you can share this URL with them.

The `Join Meeting` button is for a logged-in user to connect to the call. They are not the same.

There is a plugin setting in the Mattermost System console to d

[2022-06-18 10:34] harshilsharma63 commented on #214
HI @thomas-mc-work ! That's a valid point but unfortunately, the plugin system doesn't allow those buttons to be displayed or hidden conditionally.

[2022-06-18 10:34] #214 closed

[2022-07-27 00:53] #220 closed

[2022-08-01 14:07] wiersgallak opened #223 "Plugin Channel Header Component Changes"
Mattermost recently made an update to the Plugin component location changing from the channel header to the new [App Bar](https://mattermost.com/blog/mattermost-v7-0-is-now-available/#apps).

If your plugin registers an icon in the channel header, you will need to make some minor changes to your plugin to smoothly transition to this new UI. We’ve made it simple to register both a channel header ic

[2022-08-05 09:03] AleksandrMikoshi opened #224 "scalelite balancer"
**Describe the bug**
Hello.
Faced the following issue:
We have three BBB servers deployed, in front of them is the scalelite balancer and greenlight itself.
Only one BBB server can be specified in the plugin, but there is no balancer itself. In this vein, all load balancing functions are lost. all MM calls will go through one BBB server.

Is there a solution to this issue or plans for implementati

[2022-08-16 20:31] jasom opened #225 "from_webhook is wrong type"
[here](https://github.com/blindsidenetworks/mattermost-plugin-bigbluebutton/blob/0062a2d09185e8e5aa1020e67ea6ff64c312dda9/server/helpers.go#L225) from_webhook is set to `true` but per the mattermost V4 api `from_webhook` is of type String, so it should actually be set to `"true"`.  Yes this is stupid, but clients that parse the messages strictly (e.g. matterhorn, or anything else that uses the has

[2022-08-17 04:50] harshilsharma63 commented on #225
Thanks for posting this @jasom . I'll update it.

[2022-08-17 04:51] harshilsharma63 commented on #224
@AleksandrMikoshi you can use the URL of your scalite server. Dis it work if you do that?

[2022-08-22 15:12] AleksandrMikoshi commented on #224
Hello. Sorry for not answering for a long time.
Yes, I use URL and secret key for scalelite and it is work.
Thanks

[2022-08-23 00:11] #225 closed

[2022-08-23 00:12] harshilsharma63 commented on #224
Awesome! I'm glad it worked for you!

[2022-08-23 00:12] #224 closed

[2022-09-02 01:09] #223 closed

[2022-09-02 01:44] harshilsharma63 opened #228 "Plugin crashes Mattermost webapp on enabling"
**Describe the bug**
On latest master, enabling plugin for the first time crashes the Mattermost webapp,

**To Reproduce**
Steps to reproduce the behavior:
1. Disable the plugin if already enabled.
2. Refresh mattermost webapp.
3. Enable the plugin. Notice the webapp crashes.

**Expected behavior**
Mattermost should not crash on enabling the plugin.

[2022-09-02 01:45] #228 closed

[2022-09-07 10:17] moschlar opened #230 "Make welcome message configurable"
Hey there,

this is a feature request to make the `welcome` parameter for meeting room creation configurable in the plugin settings.

The parameter is already used in the `meetingRoom` struct and used in the API call, only the admin page and config storage part is missing.

Thanks,
Moritz

[2022-10-12 12:47] thomas-mc-work opened #231 "No action on "Join meeting""
**Describe the bug**

Sometimes after creating a room a click on "Join Room" doesn't open the conference in a separate Tab/Window as expected. I can then still join using the link that is created below in the chat.

**To Reproduce**

Steps to reproduce the behavior:

1. Create a Room in a channel
2. Click on the 'Join Meeting' Button

**Expected behavior**

Expected: Join the room in a new window,

[2022-10-12 12:54] thomas-mc-work commented on #231
There seem to be two different issues:

- open the session in a new tab: that was my fault. My browser blocked the popups, so here is no issue
- the failed request: this one still persists

[2022-11-22 13:12] hanzei commented on #102
@harshilsharma2 I wanted to check the status of this issue. From looking at the list above it seems that the plugin is ready for submission. Is there something I can help with to get it into the Marketplace?